@import '~less/sc/variables.less';

.setting-btn {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: @base-text-color;
  margin-left: 10px;

  &:hover {
    color: @brand-primary;
    text-decoration: none;
  }
}
.emailTable {
  tbody {
    tr {
      td {
        overflow: visible !important;
        white-space: normal;
      }
    }
  }
}
.tips {
  margin: 0 5px;
  top: 1px;
}
