.modalBody {
  :global {
    .lean-modal-body {
      padding-bottom: 0;
    }
    .lean-form-item {
      width: 100%;
    }
    .lean-select {
      margin-right: 8px;
    }
  }
}

.horizon {
  display: flex;
  align-items: center;

  > span:not(:last-child) {
    margin-right: 8px;
  }
  > span:not(:first-child) {
    margin-left: 8px;
  }
}

.fillSpace {
  flex: 1;
}
