@import '~less/variables';
.sort-text {
    white-space: nowrap;
    cursor: pointer;
}

.sort-icon {
    position: relative;
    margin-left: 3px;
    color: @text-color-light;
    > :global(.fa) {
        position: absolute;
        transform: translateY(3px);
        &.active {
            color: @main-color;
        }
    }
}

.safe {
    color: #2FBA81
}

.drange {
    color: red;
}

.warning {
    color: #ffae00
}