@import '~less/sc/variables.less';

.body {
  width: 700px;
}

.section {
  padding: 8px 15px;
}

.item {
  width: 100%;
  margin-bottom: 8px;

  > button {
    margin-right: 15px;
  }
}

.title {
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 8px;
  color: @base-text-dark-color;
}

.innerTitle {
  font-size: 13px;
  color: @base-text-dark-color;
  margin-bottom: 4px;
}

.darkColor {
  color: @base-text-dark-color;
}

.error {
  color: @state-danger;
}

.horizon {
  display: flex;
  align-items: center;

  > label {
    margin-left: 12px;
  }
}

.vec {
  > div {
    margin-top: 8px;
  }
}
