@import "~less/variables.less";
.wrapper_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1240px;
}
.wrapper_content {
  display: flex;
  flex: 1;
}
.right_content {
  padding: 20px;
  flex: 1;
}
.bread_nav {
  padding-bottom: 15px;
  border-bottom: 1px solid @bordercolor;
}
