@icomoon-font-path: "fonts";

@icon-lw-location-outline: "\e900";
@icon-lw-collection-outline: "\e901";
@icon-lw-unordered-list: "\e902";
@icon-lw-close: "\e903";
@icon-lw-ordered-list: "\e904";
@icon-lw-set-outline: "\e905";
@icon-lw-align: "\e906";
@icon-lw-add-rectangle: "\e907";
@icon-lw-bell-outline: "\e908";
@icon-lw-edit-outline: "\e909";
@icon-lw-more-outline: "\e90a";
@icon-lw-warning-outline: "\e90b";
@icon-lw-chatdots-outline: "\e90c";
@icon-lw-italic: "\e90d";
@icon-lw-arrow-right: "\e90e";
@icon-lw-pause-outline: "\e90f";
@icon-lw-search: "\e910";
@icon-lw-underline: "\e911";
@icon-lw-arrow-left-double: "\e912";
@icon-lw-transfer-outline: "\e913";
@icon-lw-success-outline: "\e915";
@icon-lw-telephone-outline: "\e91a";
@icon-lw-delete-outline: "\e91b";
@icon-lw-question-outline: "\e91c";
@icon-lw-email-outline: "\e91d";
@icon-lw-check: "\e91e";
@icon-lw-arrow-right-double: "\e91f";
@icon-lw-arrow-up: "\e920";
@icon-lw-minus-rectangle: "\e921";
@icon-lw-arrow-down: "\e922";
@icon-lw-add-outline: "\e923";
@icon-lw-filter-outline: "\e924";
@icon-lw-fontsize: "\e925";
@icon-lw-minus-oval-outline: "\e926";
@icon-lw-activation-outline: "\e927";
@icon-lw-header: "\e928";
@icon-lw-font: "\e929";
@icon-lw-arrow-left: "\e92a";
@icon-lw-time-outline: "\e92b";
@icon-lw-picture-outline: "\e92c";
@icon-lw-quote: "\e92d";
@icon-lw-error-outline: "\e92e";
@icon-lw-add-oval-outline: "\e92f";
@icon-lw-calender: "\e930";
@icon-lw-minus-outline: "\e931";
@icon-lw-play-outline: "\e932";
@icon-lw-info-outline: "\e933";
@icon-lw-bold: "\e934";
@icon-lw-code: "\e935";
@icon-lw-loading-outline: "\e936";
@icon-lw-checkbox: "\e916";
@icon-lw-radio-default: "\e919";
@icon-lw-upload: "\e937";
@icon-lw-hamburger-table: "\e938";
@icon-lw-reload: "\e939";
@icon-lw-more: "\e93a";
@icon-lw-select: "\e93b";
@icon-lw-caret-left: "\e93c";
@icon-lw-caret-bottom: "\e93d";
@icon-lw-caret-top: "\e93e";
@icon-lw-caret-right: "\e93f";
@icon-lw-sorting-down: "\e940";
@icon-lw-sorting-up: "\e941";
@icon-lw-steps-front: "\e943";
@icon-lw-picture: "\e944";
@icon-lw-color: "\e945";
@icon-lw-edit: "\e946";
@icon-lw-filter-soild: "\e947";
@icon-lw-email: "\e948";
@icon-lw-chatdots: "\e949";
@icon-lw-steps-behind: "\e94a";
@icon-lw-set-table-soild: "\e94b";
@icon-lw-delete: "\e94c";
@icon-lw-set-soild: "\e94d";
@icon-lw-menu: "\e94e";
@icon-lw-telephone: "\e94f";
@icon-lw-heart: "\e950";
@icon-lw-download: "\e951";
@icon-lw-collection-soild: "\e952";
@icon-lw-bell: "\e953";
@icon-lw-left: "\e954";
@icon-lw-warning: "\e955";
@icon-lw-success: "\e956";
@icon-lw-dollar: "\e957";
@icon-lw-add-oval: "\e958";
@icon-lw-minus-oval: "\e959";
@icon-lw-right: "\e95a";
@icon-lw-error: "\e95b";
@icon-lw-play: "\e95c";
@icon-lw-down: "\e95d";
@icon-lw-radio-disabled: "\e95e";
@icon-lw-radio-selected: "\e942";
@icon-lw-time: "\e95f";
@icon-lw-question: "\e960";
@icon-lw-info: "\e961";
@icon-lw-up: "\e962";
@icon-lw-checkbox-soild: "\e918";
@icon-lw-checkbox-subtraction: "\e917";
@icon-lw-checkbox-disabled: "\e914";
@icon-lw-notification-color-path1: "\e963";
@icon-lw-notification-color-path2: "\e964";
@icon-lw-notification-color-path3: "\e965";
@icon-lw-notification-color-path4: "\e966";
@icon-lw-notification-color-path5: "\e967";
@icon-lw-notification-color-path6: "\e968";
@icon-lw-notification-color-path7: "\e969";
@icon-lw-notification-color-path8: "\e96a";
@icon-lw-notification-color-path9: "\e96b";
@icon-lw-notification-color-path10: "\e96c";
@icon-lw-notification-color-path11: "\e96d";
@icon-lw-notification-color-path12: "\e96e";
@icon-lw-notification-color-path13: "\e96f";
@icon-lw-notification-color-path14: "\e970";
@icon-lw-notification-color-path15: "\e971";
@icon-lw-notification-color-path16: "\e972";
@icon-lw-notification-color-path17: "\e973";
@icon-lw-notification-color-path18: "\e974";
@icon-lw-notification-color-path19: "\e975";
@icon-lw-notification-color-path20: "\e976";
@icon-lw-notification-color-path21: "\e977";
@icon-lw-notification-color-path22: "\e978";
@icon-lw-notification-color-path23: "\e979";
@icon-lw-notification-color-path24: "\e97a";
@icon-lw-notification-color-path25: "\e97b";
@icon-lw-notification-color-path26: "\e97c";
@icon-lw-notification-color-path27: "\e97d";
@icon-lw-notification-color-path28: "\e97e";
@icon-lw-notification-color-path29: "\e97f";
@icon-lw-notification-color-path30: "\e980";
@icon-lw-notification-color-path31: "\e981";
@icon-lw-notification-color-path32: "\e982";
@icon-lw-notification-color-path33: "\e983";
@icon-lw-notification-color-path34: "\e984";
@icon-lw-notification-color-path35: "\e985";
@icon-lw-notification-color-path36: "\e986";
@icon-lw-notification-color-path37: "\e987";
@icon-lw-notification-color-path38: "\e988";
@icon-lw-notification-color-path39: "\e989";
@icon-lw-notification-color-path40: "\e98a";
@icon-lw-notification-color-path41: "\e98b";
@icon-lw-notification-color-path42: "\e98c";
@icon-lw-notification-color-path43: "\e98d";

