.input_content {
  display: flex;
  margin: 15px 0;
}
.max_apply {
  display: flex;
  margin-right: 15px;
  label {
    margin-top: 10px;
    margin-right: 5px;
  }
}
.account_explain {
  display: flex;
  label {
    margin-top: 10px;
    margin-right: 5px;
  }
  .account_explain_input {
    width: 250px;
  }
}
.tips {
  margin: 0 5px;
  top: 1px;
}
