@import '~less/variables.less';

.container {
  background-color: @red;
  color: @white;
  display: inline-block;
  border-radius: 10px;
  line-height: normal;
  padding: 2px 7px;
  min-width: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
