@import '~less/variables';
.table>thead>tr>th,
.table>tbody>tr>td,
{
    &.td-maxwidth {
        max-width: 150px;
    }
}

.sort-text {
    white-space: nowrap;
    cursor: pointer;
}

.sort-icon {
    position: relative;
    margin-left: 3px;
    color: @text-color-light;
    > :global(.fa) {
        position: absolute;
        transform: translateY(3px);
        &.active {
            color: @main-color;
        }
    }
}
.nodata-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: auto;  
}
.account-status {
    cursor: pointer;
    display: block;
}

.account-active {
    color: @main-color;
}

.menu-pop {
    :global(.lean-popover-inner-content) {
      padding: 0;
    }
    ::global(.lean-menu) {
      border: none;
    }
  }
  .active-actions {
    .popver-td{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: -16px;
        padding-left: 16px;
        padding-right: 30px;
        cursor: pointer;
        .edit-container{
            display: flex;
            align-items: center;
            position: absolute;
            z-index: 2;
            right: 10px;
            top: 0;
            bottom: 0;
            .actions-active-btn{
                display: none;
            }
        }
        &:hover{
            box-shadow: inset 0 0 0 1px;
            .actions-active-btn {
                display: flex;
            }
        }
    }
    
  }