.started-page-title {
  span{
    display: block;
    font-size: 15px;
  }
}
.setting-content {
  width: 80%;
  margin: 20px auto;
}
.default-label{
  display: inline-block;
  width:30%;
  text-align:right;
}
.default-control {
  display: inline-block;
  width:30%;
}
.default-unit {
  display: inline-block;
  width: 20%;
  text-align: left;
}
.special-control{
  display: inline-block;
  width:10%;
  text-align: left;
}
.special-unit{
  display: inline-block;
  width: 40%;
  text-align: left;
}
.interval-item{
  margin: 15px auto;
}
.save-button {
  text-align: left;
  width: 70%;
  margin-left:30%;
}