.currency-pair {
  :global(.radio) {
    display: inline-block;
  }
}
.wdith-draw {
  :global(.form-item-label) {
    width: 130px !important;
  }
  .btn-g {
    padding-left: 130px;
  }
  :global(.btn) {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .table-panel {
    // height: 300px;
    // overflow: auto;
  }
  :global(.checkbox),
  //:global(.radio) {
    //margin-top: 8px;
  //}
  :global(.widthdraw-type > div) {
    display: inline-block;
  }
}
g .tab {
  padding-top: 20px;
}

.rate_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  :global(.btn) {
    margin-right: unset;
    margin-bottom: unset;
  }
}
.table_container {
  height: 260px;
  overflow: auto;
}
.table {
  max-height: 260px;
  overflow: auto;
}
.card {
  font-size: 14px;
  &:first-child {
    margin-bottom: 20px;
  }
  button {
    float: right;
  }
}
textarea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid rgb(221, 221, 221);
  resize: vertical;
  height: 60px;
}
.modal {
  :global(.modal-dialog) {
    width: 700px;
  }
}
.numberInput {
  margin: 10px 0;
}
