@import '~less/fn.less';
.telegraphic-bottom-form{
    width: 100%;
    .rem(75px, padding-top);
    border-top: 0.16rem solid rgb(0, 163, 254);
    .telegraphic-html{
        width: 100%;
        overflow: auto;
    }
    .telegraphic-html-btn{
        .rem-padding(50,30);
    }
}
.tele-des-form{
    width: 100%;
    .rem-padding(65, 40);
    border-top: 0.16rem solid rgb(0, 163, 254);
    .tele-field{
        .rem(40px, margin-top);
    }
    .img-wrap{
        .rem(29px, margin-top);
    }
}
.tele-form-suc{
    width: 100%;
    .rem-padding(65, 40);
    border-top: 0.16rem solid #27D3BC;
    .account-info{
        .rem(50px, margin-top);
        .rem(30px, padding-bottom);
        border-bottom: 1px solid rgb(225,225,225);
    }
    .hui-info{
        .rem(30px, margin-top);
        .rem(30px, padding-bottom);
        border-bottom: 1px solid rgb(225,225,225);
    }
    .hui-img{
        width: 100%;
        .rem(30px, margin-top);
        img{
            width: 45%;
            margin-right: 5%;
            .rem(35px, margin-top);
        }
    }
}
.tele-des-tit{
    font-size: 15px;
    font-weight: 500;
    color: rgb(62,62,62);
}
.tele-des-tit2{
    font-size: 15px;
    font-weight: 500;
    color: rgb(62,62,62);
    .rem(15px, margin-top);
}
.tele-des-info{
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    color: rgb(62,62,62);
    .rem(25px, margin-top);
}
.tele-des-info2{
    .tele-des-info;
    color: rgb(147,147,147);
}
.info-right{
    float: right;
    color: rgb(62,62,62);
}
.upload-pic{
    width: 50%;
}
.add-pic{
    position: relative;
    .icon-pic{
        .rem(145, width);
        .rem(145, height);
    }
    input{
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        width: 50%;
        position: absolute;
    }
}
.add-file{
    position: relative;
    display: inline-block;
}
.upload-pic-wrap{
    width: 45%;
    margin-right: 5%;
    position: relative;
    display: inline-block;
}
.upload-pic-x{
    .rem(35px, width);
    .rem(35px, height);
    .rem(10px, top);
    .rem(10px, right);
    position: absolute;
}
.upload-pic{
    width: 100%;
}
.line{
    width: 100%;
    bottom: -1px;
    font-size: 12px;
    text-align: right;
    position: absolute;
    color: rgb(244, 67, 54);
    border-bottom: 2px solid rgb(244, 67, 54);
}
