@dropdown-prefix-cls: ~"@{prefix}-dropdown";

.@{dropdown-prefix-cls} {
  @menu-prefix-cls: ~"@{dropdown-prefix-cls}-menu";
  .reset-component;
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: @zindex-dropdown;
  display: block;
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 4px 0;
  }
  &-wrap {
    position: relative;

    .@{prefix}-btn > .@{iconfont-css-prefix}-down {
      .iconfont-size-under-12px(10px);
    }

    .@{iconfont-css-prefix}-down:before {
      transition: transform .2s;
    }
  }

  &-wrap-open {
    .@{iconfont-css-prefix}-down:before {
      transform: rotate(180deg);
    }
  }

  &-hidden,
  &-menu-hidden {
    display: none;
  }

  &-menu {
    .reset-component;
    outline: none;
    position: relative;
    list-style-type: none;
    padding: 6px 0;
    margin: 0;
    text-align: left;
    background-color: @component-background;
    border-radius: @border-radius-base;
    box-shadow: @box-shadow-base;
    background-clip: padding-box;
    &-submenu{
      .reset-component;
      ul,
      ol {
        list-style: none;
        margin: 0;
        padding: 4px 0;
      }
    }
    &-item-group-title {
      color: @menu-item-group-title-color;;
      padding: 0 @padding-md*2 0 @padding-md;
      line-height: @menu-item-height;
      transition: all .3s;
    }

    &-submenu-popup {
      position: absolute;
      z-index: @zindex-dropdown;
    }

    &-item,
    &-submenu-title {
      padding: 5px @control-padding-horizontal*2 5px @control-padding-horizontal-md;
      margin: 0;
      clear: both;
      font-size: @font-size-base;
      font-weight: normal;
      color: @text-color;
      white-space: nowrap;
      cursor: pointer;
      transition: all .3s;
      line-height: 22px;

      > a {
        color: @text-color;
        display: block;
        padding: 5px @control-padding-horizontal;
        margin: -5px -@control-padding-horizontal;
        transition: all .3s;
        &:focus {
          text-decoration: none;
        }
      }

      &-selected,
      &-selected > a {
        color: @primary;
        // background-color: fade(@blue-2, 8%);
      }

      &:hover {
        background-color: fade(@@main-color-2, 8);
      }

      &-disabled {
        color: @disabled;
        cursor: not-allowed;

        &:hover {
          color: @disabled;
          background-color: fade(@@main-color-2, 8);
          cursor: not-allowed;
        }
      }

      &-divider {
        height: 1px;
        overflow: hidden;
        margin: 4px 0;
        background-color: @border-color-split;
        line-height: 0;
      }
      .@{dropdown-prefix-cls}-menu-submenu-arrow {
        position: absolute;
        right: @padding-xs;
        &:after {
          .iconfont-font(@icon-lw-arrow-down);
          color: @text-color-secondary;
          .iconfont-size-under-12px(10px);
        }
      }
    }

    &-submenu-title {
      padding-right: 26px;
      &:first-child,
      &:last-child {
        border-radius: 0;
      }
    }

    &-submenu-vertical {
      position: relative;
    }

    &-submenu-vertical > & {
      top: 0;
      left: 100%;
      position: absolute;
      min-width: 100%;
      margin-left: 4px;
      transform-origin: 0 0;
    }

    &-submenu&-submenu-disabled .@{dropdown-prefix-cls}-menu-submenu-title {
      &,
       .@{dropdown-prefix-cls}-menu-submenu-arrow:after {
         color: @disabled;
       }
    }
    &-submenu:first-child &-submenu-title {
      border-radius: @border-radius-base @border-radius-base 0 0;
    }

    &-submenu:last-child &-submenu-title {
      border-radius: 0 0 @border-radius-base @border-radius-base;
    }

    
    &-vertical,
    &-vertical-left {
      border-right: @border-width-base @border-style-base @border-color-split;
    }
    &-vertical-right {
      border-left: @border-width-base @border-style-base @border-color-split;
    }

    &-vertical&-sub,
    &-vertical-left&-sub,
    &-vertical-right&-sub {
      border-right: 0;
      padding: 0;
      transform-origin: 0 0;
      .@{menu-prefix-cls}-item {
        border-right: 0;
        margin-left: 0;
        left: 0;
        &:after {
          border-right: 0;
        }
      }
      > .@{menu-prefix-cls}-item,
      > .@{menu-prefix-cls}-submenu {
        transform-origin: 0 0;
      }
    }

    
    &-vertical&-sub,
    &-vertical-left&-sub,
    &-vertical-right&-sub {
      min-width: @menu-horizontal-min-width;
    }

    &-vertical,
    &-vertical-left,
    &-vertical-right{
      > .@{menu-prefix-cls}-submenu-title .@{menu-prefix-cls}-submenu-arrow {
        transition: transform 0.3s @ease-in-out;
        position: absolute;
        top: 0;
        right: @padding-md;
        width: 12px;
        &:after {
          .iconfont-font(@icon-lw-arrow-down);
          position: absolute;
          vertical-align: baseline;
          width: 16px;
          border-radius: 2px;
          transition: transform 0.3s @ease-in-out;
        }
      }
    }

    &-vertical &-submenu-selected,
    &-vertical-left &-submenu-selected,
    &-vertical-right &-submenu-selected {
      color: @menu-highlight-color;
      > a {
        color: @menu-highlight-color;
      }
      > .@{menu-prefix-cls}-submenu-title {
        color: @menu-highlight-color;
      }
    }

    &-vertical,
    &-vertical-left,
    &-vertical-right {
      .@{menu-prefix-cls}-item {
        position: relative;
        // &:after {
        //   .iconfont-font(@icon-lw-check);
        //   font-weight: bold;
        //   position: absolute;
        //   right: @padding-sm;
        //   top: 0;
        //   bottom: 0;
        //   transform: scaleY(0.0001);
        //   opacity: 0;
        //   transition: transform 0.15s @ease-out, opacity 0.15s @ease-out;
        // }
      }

      .@{menu-prefix-cls}-item,
      .@{menu-prefix-cls}-submenu-title {
        padding: 0 @padding-md*2 0 @padding-md ;
        font-size: @font-size-base;
        line-height: @menu-item-height;
        height: @menu-item-height;
        // margin-top: 4px;
        // margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      // disable margin collapsed
      .@{menu-prefix-cls}-submenu {
        padding-bottom: 0.01px;
      }


      > .@{menu-prefix-cls}-item,
      > .@{menu-prefix-cls}-submenu > .@{menu-prefix-cls}-submenu-title {
        line-height: @menu-toplevel-item-height;
        height: @menu-toplevel-item-height;
      }
    }

    &-vertical {
      .@{menu-prefix-cls}-item:hover,
      .@{menu-prefix-cls}-submenu:hover {
        // color: @menu-item-color; //popup中文字不变色
        background: @menu-item-active-bg;
      }
    }

    &-vertical {
      .@{menu-prefix-cls}-selected,
      .@{menu-prefix-cls}-item-selected {
        font-weight: bold;
        &:after {
          transition: transform 0.15s @ease-in-out, opacity 0.15s @ease-in-out;
          opacity: 1;
          transform: scaleY(1);
        }
      }
      .@{menu-prefix-cls}-item-group-list {
        .@{menu-prefix-cls}-item,
        .@{menu-prefix-cls}-submenu-title {
          padding: 0 28px;
        }
      }
    }
  }

  &.slide-down-enter.slide-down-enter-active&-placement-bottomLeft,
  &.slide-down-appear.slide-down-appear-active&-placement-bottomLeft,
  &.slide-down-enter.slide-down-enter-active&-placement-bottomCenter,
  &.slide-down-appear.slide-down-appear-active&-placement-bottomCenter,
  &.slide-down-enter.slide-down-enter-active&-placement-bottomRight,
  &.slide-down-appear.slide-down-appear-active&-placement-bottomRight {
    animation-name: antSlideUpIn;
  }

  &.slide-up-enter.slide-up-enter-active&-placement-topLeft,
  &.slide-up-appear.slide-up-appear-active&-placement-topLeft,
  &.slide-up-enter.slide-up-enter-active&-placement-topCenter,
  &.slide-up-appear.slide-up-appear-active&-placement-topCenter,
  &.slide-up-enter.slide-up-enter-active&-placement-topRight,
  &.slide-up-appear.slide-up-appear-active&-placement-topRight {
    animation-name: antSlideDownIn;
  }

  &.slide-down-leave.slide-down-leave-active&-placement-bottomLeft,
  &.slide-down-leave.slide-down-leave-active&-placement-bottomCenter,
  &.slide-down-leave.slide-down-leave-active&-placement-bottomRight {
    animation-name: antSlideUpOut;
  }

  &.slide-up-leave.slide-up-leave-active&-placement-topLeft,
  &.slide-up-leave.slide-up-leave-active&-placement-topCenter,
  &.slide-up-leave.slide-up-leave-active&-placement-topRight {
    animation-name: antSlideDownOut;
  }
}

.@{dropdown-prefix-cls}-trigger,
.@{dropdown-prefix-cls}-link {
  .@{iconfont-css-prefix}-down {
    .iconfont-size-under-12px(10px);
  }
}

.@{dropdown-prefix-cls}-button {
  white-space: nowrap;

  &.@{prefix}-btn-group > .@{prefix}-btn:last-child:not(:first-child) {
    padding-left: @padding-xs;
    padding-right: @padding-xs;
  }
  .@{iconfont-css-prefix}-down {
    .iconfont-size-under-12px(10px);
  }
}

// https://github.com/ant-design/ant-design/issues/4903
.@{dropdown-prefix-cls}-menu-dark {
  &,
  .@{dropdown-prefix-cls}-menu {
    background: @menu-dark-bg;
  }
  .@{dropdown-prefix-cls}-menu-item,
  .@{dropdown-prefix-cls}-menu-submenu-title,
  .@{dropdown-prefix-cls}-menu-item > a {
    color: @text-color-secondary-dark;
    .@{dropdown-prefix-cls}-menu-submenu-arrow:after {
      color: @text-color-secondary-dark;
    }
    &:hover {
      color: #fff;
      background: transparent;
    }
  }
  .@{dropdown-prefix-cls}-menu-item-selected {
    &,
    &:hover,
    > a {
      // background: @primary;
      color: #fff;
    }
  }
}
