@import '../index.less';


.count-badge {
  min-width: 22px;
  padding: 0 7px;
  height: 22px;
  line-height: 22px;
	border-radius: 4px;
}
.account{
  color: #57b8f4;
}
.staff-item-header i{
  font-size: 20px;
  margin-right: 8px;
  vertical-align: sub;
}