@color: #334455;
@name: 15px;
#header888888888{
    background-color: @color;
    font-size: 12px;
}
#header666666{
    background-color: @color;
    font-size: @name;
}
#header999{
    background-color: @color;
    font-size: @name;
}
#header666{
    background-color: @color;
    font-size: @name;
}