@import '~less/variables';

.form {
  padding-top: 15px;
}

.title {
  display: flex;
}

.titleInput {
  flex: 1;
}

.titleSizeBox {
  display: flex;
  width: 100px;
  padding-left: 10px;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: flex-end;
  > :global(.btn) {
    margin-left: 10px;
  }
}

.content-button {
  margin-left: 10px;
}