.container {
  padding-top: 20px;
}

.label {
  font-size: 12px;
  font-weight: normal;
  padding-top: 9px;
  padding-right: 0;
}

.dropdown {
  width: 100%;
}
.widthdraw_container {
  width: 100%;
  :global(.lean-form-label) {
    align-items: baseline !important;
    margin-top: 9px;
  }
  .rate {
    margin-top: 5px;
  }
}
.gold-notice {
  width: 280px;
  background-color: #fef0ef;
  border: solid 1px #fcdbd9;
  padding: 15px 20px;
  border-radius: 4px;
  .header {
    font-size: 14px;
  }
  .body {
    font-size: 12px;
  }
}
.option_type_item {
  margin-bottom: 25px;
}
.option_type {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
.customFieldForm {
  width: 100%;
  :global(.lean-form) {
    margin-left: 0;
    margin-right: 0;
  }
  :global(.lean-form-item) {
    width: 100%;
  }
  :global(.lean-form-label) {
    width: 20% !important;
  }
}
.addBank {
  text-align: center;
  padding: 10px 0;
}
