@import '~less/variables.less';

.sort-text {
  white-space: nowrap;
  cursor: pointer;
}

.sort-icon {
  position: relative;
  margin-left: 3px;
  color: @lean-grey-4;
  letter-spacing: -7px;
  line-height: 14px;
  vertical-align: middle;
  font-size: 14px;
}
