.field_tips {
    display: inline-block;
    padding-top: 7px;
}

.dropdown {
    min-width: 120px;
    max-width: 150px;
     :global(.dropdown-menu) {
        >li>a {
            max-width: 150px;
        }
    }
}

.warning-text {
    color: red;
}

.add-confirm-modal {
    height: 120px;
}

.label {
    width: 30%;
    text-align: right;
    padding: 4px 10px 0 0;
}

.control {
    flex: 1;
    .textarea {
        padding: 5px 10px;
        resize: none;
        height: 80px;
    }
}

.text-field {
    width: 300px;
}

.checkbox-align {
    padding: 4px 10px 0 0;
}