@import '~less/variables.less';

.wrapper {
  display: inline-block;
}

.text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;

  :global(.badge) {
    margin: 0 5px;
    padding: 0;
    background: transparent;
    font-weight: normal;
  }
}

.btn {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.num {
  font-weight: bold;
  margin: 0 4px;
  font-size: 16px;
}

.tips {
  font-size: 12px;
  margin-bottom: 0;

  .num {
    font-weight: bold;
    margin: 0 3px;
    font-size: 14px;
  }
}