.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
}

.table {
  table-layout: fixed;

  tbody {
    td:last-child {
      white-space: nowrap;
    }
  }
}
.btn-right {
  cursor: pointer;
  margin-left: 10px;
}
.btn-add {
  margin-top: 10px;
}
.options {
  min-width: 140px;
}

.container {
  :global(.lean-table-container) {
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #dfe3e8;
    box-shadow: 0 1px 3px 0 rgba(99, 115, 129, 0.16);
  }
}
