@import '~less/variables.less';

.actions {
  & > span {
    display: inline-block;
    cursor: pointer;
  }

  & > span:not(:last-child) {
    margin-right: 16px;
  }
}

.font {
  color: @lean-text-color-dark;
}
