.add_parameter_modal {
  width: 520px !important;
  :global(.lean-modal-close-x) {
    width: 40px;
  }
}
.modal_title {
  display: flex;
  justify-content: space-between;
  .sort {
    margin-right: 30px;
    color: #919eab;
    cursor: pointer;
  }
}
