@import '~less/variables';

.batch-action {
  .selected {
    font-size: 12px;
    margin-right: @padding-base;
  }
  
  .selected-number {
    margin: 0 5px;
  }
  
  .tool-btn {
    cursor: pointer;
    margin-right: 5px;
  }
}
