{
  "parser": "babel-eslint",
//   "parserOptions": {
//     "ecmaFeatures": {
//         "tsx": true
//     }
//   },
  "extends": [ "eslint:recommended"],
  "plugins": [ "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": ["error"]
  }
}