@import '~less/variables.less';

.btn {
  padding: 0 8px;
  display: flex;
}

.text {
  margin: 0 6px;
  font-size: 12px;
  display: inline-block;
  max-width: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
