.header {
  height: 3.84rem;
  background: linear-gradient(90deg, #67cBEC, #2686ff);
  .header-top {
    height: 2.67rem;
    display: flex;
    .custom {
      margin: auto;
      width: max-content;
      height: max-content;
    }
  }
}