.checkbox-input {
  position: relative;
}

.checkbox {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  margin: 0;
}

.input-text {
  padding-left: 31px;
  padding-right: 31px;
}
.input-unit{
  color: #888;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  margin: 0;
}
