.custom_nav {
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .head {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    .select {
      width: 85px;
    }
    .button {
      margin-left: 10px;
    }
    .left {
      display: flex;
    }
  }
}
