@import '~less/sc/variables.less';

.pickWrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  > span:not(:last-child) {
    margin-right: 6px;
  }
}

.flexLayout {
  display: flex;
  min-height: fit-content;
  padding: 2px 0 4px;
}

.pickItem {
  border: 1px solid @border-color;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 2px;
  margin-top: 2px;

  > i {
    margin-left: 2px;
    padding: 0 2px 0 4px;

    &:hover {
      color: @brand-primary;
    }
  }
}
