.commission-report{
    .report-select{
        width: 90%;
    }
    .report-hint{
        color: #666;
        padding: 10px 0 30px;
    }
    .report-des{
        margin-top: 10px;
    }
    .report-total{
        color: #666;
    }
}