.label{
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
    margin-left: 70px;
}
.dropdown {
  width: 100%;
}
.left, .right {
  float: left;
}
.left{
  width: 22%;
}
.right {
  width: 40%;
}
