@import "~less/variables.less";
@panel-width: 1090px;

:global(.card-panel-enter) {
  .card-panel {
    right: -@panel-width - 3;
  }
  .card-panel-mask {
    opacity: 0;
  }
}

:global(.card-panel-enter.card-panel-enter-active) {
  .card-panel {
    right: 0;
    transition: right .5s ease-in-out;
  }
  .card-panel-mask {
    opacity: 1;
    transition: opacity .5s ease-in-out;
  }
}

:global(.card-panel-leave) {
  .card-panel {
    right: 0;
  }
  .card-panel-mask {
    opacity: 1;
  }
}

:global(.card-panel-leave.card-panel-leave-active) {
  .card-panel {
    right: -@panel-width - 3;
    transition: right .5s ease-in-out;
  }
  .card-panel-mask {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
}

:global(.card-panel-appear) {
  .card-panel {
    right: -@panel-width - 3;
  }
  .card-panel-mask {
    opacity: 0;
  }
}

:global(.card-panel-appear.card-panel-appear-active) {
  .card-panel {
    right: 0;
    opacity: 1;
    transition: right .5s ease-in-out;
  }
  .card-panel-mask {
    opacity: 1;
    transition: opacity .5s ease-in-out;
  }
}

.card-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: @panel-width;
  margin: 0;
  box-shadow: -3px 0px 10px rgba(9,2,4, .3);
  z-index: @zindex-card-panel;
}
.card-panel-mask {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: transparent;
  display: none;
  transition: z-index, background-color .5s ease-in-out;
  &.open {
    display: block;
    background-color: @modal-backdrop-bg;
    z-index: @zindex-card-panel - 1;
  }
}
.panel-heading {
  padding: 15px;
  height: @card-panel-header-height;
  line-height: 26px;
}
.panel-body {
  overflow-y: auto;
  height: calc(~'100% - @{card-panel-header-height}');
}

.panel-footer-box {
  height: 62px;
}
.panel-footer {
  position: absolute;
  background-color: @white;
  padding: 15px;
  text-align: right;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid @border-color;
  z-index: 9;
  :global(.btn) {
    margin-left: 10px;
  }
}
.panel-title {
  font-size: 14px;
}
.close {
  font-size: 12px;
  opacity: 1;
  color: #c5c5c5;
  line-height: 26px;
  &:hover {
    color: #999;
  }
}