@import '~less/fn.less';

.headbg{
    background-image: url('images/icon_termofuse@3x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #edf5fe;
}
.dialog-content > div {
    .rem(10px, border-radius) !important;
}