.bate-content {
  font-size: 12px;
  padding: 16px 16px 0;
  display: flex;
  flex-wrap: wrap;
  & > div {
    line-height: 30px;
    flex-basis: 50%;
    & > span {
      margin-right: 5px;
      &:first-child{
        color: #637381;
      }
      &:last-child{
        color: #303842;
      }
    }
    & > button {
      margin-left: 10px;
    }
  }
}
.panel {
  overflow: hidden;
  border-radius: 4px;
  border: solid 1px #dfe3e8;
  background-color: #ffffff;
  .head {
    padding: 9px 16px;
    font-size: 13px;
    background-color: #fafafa;
    border-bottom: 1px solid #dfe3e8;
  }
  .body {

  }
}
.button {
  margin: 10px 16px 0;
  padding: 12px 0;
  border-top: 1px dashed #dfe3e8;
}