@import '~less/variables';
.pagination-bar {
  padding: 10px 16px;
}

.clickable_link {
  color: blue;
  cursor: pointer;
}

.sort-text {
  white-space: nowrap;
  cursor: pointer;
}

.follow-star {
  color: #f9a64c;
  cursor: pointer;
  display: block;
}
.cancel-hidden {
  overflow: visible !important;
}
.menu-pop {
  :global(.lean-popover-inner-content) {
    padding: 0;
  }
  ::global(.lean-menu) {
    border: none;
  }
}
.pop-btn {
  cursor: pointer;
}
.button-cancel {
  margin-right: 8px;
  margin-left: 6px;
}
