@import '~less/variables.less';

.container {
  padding: 8px;
  position: relative;
  :global(.item-name) {
    white-space: nowrap;
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}

.delete {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  &:hover {
    cursor: pointer;
  }
}

.panel {
  margin: 0;
}

.item-default {
  width: 33.33%;
}

.body {
  height: @my-dashboard-item-height;
  :global(.nav) {
    font-size: 12px;
    > li > a {
      padding: 5px 10px;
    }
  }
}

.item-lg {
  width: 66.66%;
}

