@import '~less/variables.less';

.container {
  padding-bottom: @padding-base;
  background-color: #f1f2f7;
}

.tips {
  display: flex;
  margin-bottom: 0;
}

.text {
  flex: 1;
}

.close-btn {
  cursor: pointer;
  padding-top: 3px;
  &:hover {
    text-decoration: none;
  }
}
