.access-settings {
  :global(.form-item-control) {
    width: auto !important;
  }
  :global(.form-item-label) {
    width: 160px !important;
  }
  :global(.tips) {
    margin-left: 20px;
  }
  :global(.pwd-strong) {
    :global(.radio) {
      display: block;
      margin: 5px 0 !important;
    }
  }
  .footer {
    margin-left: 160px;
    :global(.btn) {
      margin-right: 10px;
    }
  }
}
.tips {
  margin: 0 5px;
  top: 1px;
}
