// size
@page-min-width: 1300px;

// basic color
@state-danger: #ff4157;
@state-success: #16A664;
@state-warning: #ffc341;
@state-disabled: #999;
@state-orange: #ff8600;
@brand-primary: #1fb5ad;

@gray-btn-bg-color: #fafafa;
@gray-btn-hover-bg-color: #f5f5f5;
@disabled-color: #c7cbd6;


@base-font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@base-font-size: 12px;
@base-text-color: #666;
@base-text-dark-color: #333;
@base-text-light-color: #999;
@base-backgound-color: #f1f2f7;
@base-disabled-bg-color: #eee;

@border-color: #ddd;
@input-color: #555;
@input-placeholder-color: #999;
@wrapper-border-color: #eff2f7;

@btn-default-bg-color: #c7cbd6;
@btn-default-hover-bg-color: #b0b5b9;
@btn-primary-bg-color: @brand-primary;
@btn-primary-hover-bg-color: #1ca59e;

@loading-mask-zindex: 99999;
@loading-color: #26d1cb;
@modal-backdrop-bg: rgba(0, 0, 0, 0.6);

@header-height: 75px;
@menu-width: 247px;
@menu-bg-color: #323339;

@content-header-bg-color: #fafafa;
@content-header-border-color: #eff2f7;
@content-header-height: 40px;

@body-bg: #f1f2f7;
@text-color: #666;
@text-color-dark: #333;
@text-color-light: #999;
@text-color-lighter: #ccc;

@cursor-disabled: not-allowed;
// basic color
@white: #fff;
@red: #FC445B;
