/*
科技 - 炫紫
*/
/* ---------------------> common <--------------------- */
/* 主题色 */
/** select选中框的选中的色值 */
/** select选中下拉框的选中的色值 */
/* 鼠标hover到主题色上后变化的颜色 */
/* 主题色作为背景的一般情况下对应的字体颜色 */
/* ---------------------> widgets <--------------------- */
/* ---------------------> components <--------------------- */
/* 左侧菜单背景图片 */
/* 左侧菜单背景色 */
/* 左侧菜单顶部logo区域背景色 */
/* 左侧菜单一般字体颜色 */
/* 左侧菜单鼠标hover一般字体颜色 */
/* 左侧子菜单背景色 */
/* 左侧被选中的菜单的字体颜色 */
/* 左侧菜单中表示被选中项的高亮部分的颜色 */
/* 左侧菜单底部工具栏上边框颜色 */
/* ---------------------> login <--------------------- */
/* 登录页背景图片 */
/* 登录页左边背景图片 */
/* 登录页右边背景图片 */
/* 登录页背景色 */
/* 登录页背景图片填充方式 */
/* 登录页随主题变化元素的主色 */
/* 登录页随主题变化元素的主色被hover后的颜色 */
/* 登录页随主题变化元素的辅色 */
/* 登录页随主题变化元素的融合色 */
/* 登录页输入框用户输入字体颜色 */
/* 登录页输入框placeholder字体颜色 */
/* 登录页输入框背景色 */
/* 快速开户link字体颜色 */
.theme-4 .ant-input:focus,
.theme-4 .ant-input:hover {
  border-color: #8b34a8;
  box-shadow: 0 0 0 2px rgba(139, 52, 168, 0.2);
}
.theme-4 .ant-pagination-item:focus,
.theme-4 .ant-pagination-item:hover {
  border-color: #8b34a8;
}
.theme-4 .ant-pagination-item:focus a,
.theme-4 .ant-pagination-item:hover a {
  color: #8b34a8;
}
.theme-4 .ant-pagination-item-active a,
.theme-4 .ant-pagination-item-active:focus a,
.theme-4 .ant-pagination-item-active:hover a {
  color: #ffffff;
}
.theme-4 .ant-pagination-item-active,
.theme-4 .ant-pagination-item-active:hover,
.theme-4 .ant-pagination-item-active:focus {
  background-color: #8b34a8;
  border-color: #8b34a8;
}
.theme-4 .ant-pagination-prev:focus,
.theme-4 .ant-pagination-next:focus,
.theme-4 .ant-pagination-prev:hover,
.theme-4 .ant-pagination-next:hover {
  border-color: #8b34a8;
}
.theme-4 .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #8b34a8;
}
.theme-4 .ant-radio-wrapper .ant-radio-checked .ant-radio-inner:after {
  background-color: #8b34a8;
}
.theme-4 .ant-radio-wrapper:hover .ant-radio .ant-radio-inner {
  border-color: #8b34a8;
}
.theme-4 .ant-select {
  color: #8b34a8;
}
.theme-4 .ant-select-selection:focus,
.theme-4 .ant-select-selection:active {
  color: rgba(139, 52, 168, 0.8);
}
.theme-4 .ant-select-dropdown-menu-item:hover {
  background-color: rgba(139, 52, 168, 0.2);
}
.theme-4 .ant-checkbox-wrapper:hover {
  border-color: #8b34a8;
}
.theme-4 .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #8b34a8;
}
.theme-4 .ant-checkbox:hover {
  border-color: #8b34a8;
}
.theme-4 .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #8b34a8;
}
.theme-4 .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #8b34a8;
  background-color: #8b34a8;
}
.theme-4 .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #8b34a8;
}
.theme-4 .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #8b34a8;
}
.theme-4 .ant-calendar-selected-day .ant-calendar-date {
  background: #8b34a8;
}
.theme-4 .ant-calendar-selected-day .ant-calendar-date:hover {
  background: #8b34a8;
}
.theme-4 .tw-btn:hover {
  color: #8b34a8;
  border-color: #8b34a8;
}
.theme-4 .tw-btn-primary {
  color: #fff;
  background-color: #8b34a8;
  border-color: transparent;
}
.theme-4 .tw-btn-primary:hover {
  color: #fff;
  background-color: #81309c;
  border-color: transparent;
}
.theme-4 .tw-btn-primary[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.theme-4 .tw-btn-solid:hover {
  color: #8b34a8;
  border-color: #8b34a8;
}
.theme-4 .login-page {
  background: url('../images/login_bg4.jpg') no-repeat;
  background-size: cover;
}
.theme-4 .app-header .header-select .account-type-live {
  border: 1px solid #8b34a8;
  color: #8b34a8;
}
.theme-4 .app-header .header-select .account-curr,
.theme-4 .app-header .header-select .account-select-label:hover {
  color: #8b34a8;
}
.theme-4 .app-notice .header {
  background: #8b34a8;
}
.theme-4 .app-sidebar {
  background: #8b34a8 url('../images/menu_bg4.png') center center no-repeat;
  background-size: cover;
  color: #ccc;
}
.theme-4 .app-sidebar .app-logo {
  background-color: rgba(17, 53, 98, 0.9);
}
.theme-4 .app-sidebar .app-menu .ant-menu-submenu-title:hover {
  color: #fff;
}
.theme-4 .app-sidebar .app-menu .ant-menu-submenu {
  color: #ccc;
}
.theme-4 .app-sidebar .app-menu .ant-menu-submenu > .ant-menu {
  background-color: rgba(4, 15, 47, 0.8);
}
.theme-4 .app-sidebar .app-menu .ant-menu-submenu > .ant-menu > .ant-menu-item > a:hover {
  color: #fff;
}
.theme-4 .app-sidebar .app-menu .ant-menu-submenu > .ant-menu > .ant-menu-item-selected {
  color: #d34fff;
  border-left: 2px solid #8b34a8;
}
.theme-4 .app-sidebar .app-menu .ant-menu-submenu > .ant-menu > .ant-menu-item-selected > a {
  color: #d34fff;
}
.theme-4 .app-sidebar .app-menu .ant-menu-submenu > .ant-menu > .ant-menu-item-selected > a:hover {
  color: #d34fff;
}
.theme-4 .app-sidebar .synopsis .ant-tooltip-inner {
  background-color: #8b34a8;
}
.theme-4 .app-sidebar .synopsis .ant-tooltip-arrow {
  border-top-color: #8b34a8;
}
.theme-4 .app-sidebar .synopsis .side-language li:hover,
.theme-4 .app-sidebar .synopsis .side-language .li-select {
  color: #8b34a8;
}
.theme-4 .app-sidebar .about-us .logo {
  background-color: rgba(17, 53, 98, 0.9);
}
.theme-4 .ant-steps .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after {
  background-color: #8b34a8;
}
.theme-4 .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  border-color: #8b34a8;
}
.theme-4 .ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #8b34a8;
}
.theme-4 .ant-steps .ant-steps-item-finish .ant-steps-item-icon:before {
  background: #8b34a8;
}
.theme-4 .ant-steps .ant-steps-item-finish .ant-steps-item-icon:after {
  background: #8b34a8;
}
.theme-4 .ant-steps .ant-steps-item-process .ant-steps-item-icon {
  border-color: #8b34a8;
  background-color: #8b34a8;
}
.theme-4 .ant-steps .ant-steps-item-process .ant-steps-item-icon:before {
  background: #8b34a8;
}
.theme-4 .ant-tabs .ant-tabs-nav .ant-tabs-tab-active {
  color: #8b34a8;
}
.theme-4 .ant-tabs .ant-tabs-nav .ant-tabs-tab:hover {
  color: #81309c;
}
.theme-4 .ant-tabs .ant-tabs-ink-bar {
  background-color: #8b34a8;
}
.theme-4 .overview .welcome-msg .last-login-msg {
  color: #8b34a8;
}
.theme-4 .overview .welcome-msg .ant-tooltip-inner {
  background-color: #8b34a8;
}
.theme-4 .overview .welcome-msg .ant-tooltip-arrow {
  border-top-color: #8b34a8;
}
.theme-4 .overview .ant-table-tbody .account-default-flag {
  color: #8b34a8;
  border-color: #8b34a8;
}
.theme-4 .overview .ant-table-tbody .account-optbtn {
  color: #8b34a8;
}
.theme-4 .overview .account-empty-text a,
.theme-4 .overview .account-empty-text a:hover {
  color: #8b34a8;
}
.theme-4 .live-container .li-hint {
  color: #8b34a8;
  border: 1px solid #8b34a8;
}
.theme-4 .webcast-container .webcast-content .ant-popover-buttons .ant-btn-primary {
  color: #fff;
  background-color: #8b34a8;
  border-color: transparent;
}
.theme-4 .webcast-container .webcast-content .ant-popover-buttons .ant-btn-primary:hover {
  color: #fff;
  background-color: #81309c;
  border-color: transparent;
}
.theme-4 .bind-account .ant-select-selection:hover {
  border-color: #8b34a8;
}
.theme-4 .account-info .account-changed-confirm {
  color: #8b34a8;
}
.theme-4 .link-container .link-href {
  color: #8b34a8;
}
.theme-4 .card-theme {
  border-color: #8b34a8;
}
.theme-4 .card-theme .card-header {
  background: #8b34a8;
}
.theme-4 .appropriate-test .result-item i {
  color: #8b34a8;
}
.theme-4 .step-tit {
  background: #8b34a8;
}
.theme-4 .reg-input-wrap .reg-only-btn {
  color: #8b34a8;
  border-color: #8b34a8;
}
.theme-4 .same-account .same-panel {
  border: 1px solid #8b34a8;
}
.theme-4 .same-account .same-title {
  background: #8b34a8;
}
.theme-4 .disclaimer .disclaimer-point {
  color: #8b34a8;
}
.theme-4 .form-field-group .icon-delete-outline:hover {
  color: #8b34a8;
}
.theme-4 .login-form-forget {
  color: #8b34a8;
}
.theme-4 .login-page  .ant-btn {
  border-color: #8b34a8 !important;
  background-color: #8b34a8 !important;
}
.theme-4 .login-input-wrap .login-input-bottom span {
  color: #8b34a8;
}
.theme-4 .ant-input-group-addon:hover {
  border: 1px solid #8b34a8;
  box-shadow: 0 0 0 2px rgba(139, 52, 168, 0.2);
}
.theme-4 .reg-input-phone-email {
  color: #8b34a8;
}
.theme-4 .forget-pwd-wrapper .login a {
  color: #8b34a8;
}
.theme-4 .register-mock-wrapper .select .ant-select-selection:hover {
  border-color: #8b34a8;
}
.theme-4 .register-mock-wrapper .login a {
  color: #8b34a8;
}
