@import '~less/variables.less';

.container {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 450px;
  z-index: 3;
}

.message-title {
  text-align: center;
  margin-bottom: @padding-base;
  font-weight: bold;
  font-size: 16px;
}

.message-body {
  height: 70px;
  overflow-y: auto;
  text-indent: 24px;
}

