@import '~less/variables.less';
.reason{
  margin: 15px 0 0;
  overflow: hidden;
}

.note {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}
.row {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}
.input {
  margin-top: 10px;
}