.dropdown {
  width: 300px;
}

.tips {
  font-size: 12px;
  margin-left: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 16px 0 16px 20px;
  margin-bottom: 16px;
}
.red {
  color: red;
}