@import '~less/variables.less';
@import '../LeftMenu/LeftMenu.less';

.content-wrapper {
  margin-left: @settings-left-menu-width;
  margin-bottom: @footer-height;
  padding: 15px;
  background-color: @body-bg;
  min-height: 100%;
  overflow: auto;
}
