@import '~less/variables.less';
.label{
  text-align: center;
  display: inline-block
}
.note {
  display: block;
  color:@text-color-light;
  margin-top: 15px;
  font-size: 12px;
}

.success {
  color: @state-success-text;
}
.fail {
  color:@state-danger-text;
}