@import '~less/variables.less';

.just-form {
  max-width: 760px!important;
  min-width: unset!important;
  .header {
    display: none;
  }
  .body {
    display: block;
  }
  .left {
    max-width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .right {
    display: none;
  }
}

.scroll-root {
  overflow: auto;
}