.inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.input {
  width: 50px;
}

.input_suffix {
  width: 80px;
}

.margin {
  margin-right: 10px;
}

.colWrapper {
  display: flex;
  align-items: flex-start;

  > label {
    margin-top: 8px;
  }
}

.input_long {
  width: 100px;
  margin-right: 10px;
}
.set-btn {
  margin-bottom: 16px;
}
.set-header {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
  }
}
.table {
  height: 250px;
}
a {
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.label {
  margin-top: 8px;
}
