.dropdown {
  width: 100%;
}
label{
  font-size: 12px;
}
.control-width {
    width: 100%;
}
.concat-form{
  padding: 15px;
}
.form-horizontal {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden; 
}