@import './variables.less';

.required:before {
  content: "*";
  color: @red;
  margin-right: 3px;
  display: inline;
}

.validate-error-msg {
  color: @red;
  padding-top: 3px;
  font-size: 12px;
}

.form-control-tips {
  padding-top: 3px;
  font-size: 11px;
  color: @text-color-light;
}

:global(div.lean-modal) {
  top: 0;
}
