// 蓝色列表
@lean-blue-1: #3079ed;
@lean-blue-2: #4285f4;
@lean-blue-3: #5490f5;
@lean-blue-4: #659bf6;
@lean-blue-5: #82aef6;

// 红色列表
@lean-red-1: #ce1f20;
@lean-red-2: #df3031;
@lean-red-3: #e24445;
@lean-red-4: #e45657;
@lean-red-5: #e97778;

// 绿色列表
@lean-green-1: #329c37;
@lean-green-2: #42b549;
@lean-green-3: #55bc5b;
@lean-green-4: #66c26b;
@lean-green-5: #84ce88;

// 黄色列表
@lean-yellow-1: #efb01a;
@lean-yellow-2: #f5bd37;
@lean-yellow-3: #f6c34b;
@lean-yellow-4: #f6c95d;
@lean-yellow-5: #f7d37d;

// 灰色列表
@lean-grey-1: #303842;
@lean-grey-2: #637381;
@lean-grey-3: #919eab;
@lean-grey-4: #dfe3e8;
@lean-grey-5: #fafafa;
@lean-white: #ffffff;

@lean-font-size-base : 13px;
@lean-font-size-lg : @lean-font-size-base + 3px;
@lean-font-size-sm : 12px;

@lean-text-color-dark: @lean-grey-1;
@lean-text-color: @lean-grey-2;
@lean-text-color-light: @lean-grey-3;

@lean-background-color: @lean-grey-5;
@lean-background-color-light: @lean-white;

@lean-primary: @lean-blue-2;
@lean-danger: @lean-red-2;
@lean-warning: @lean-yellow-2;
@lean-success: @lean-green-2;
@lean-disabled: @lean-grey-2;
@lean-info: @lean-blue-2;
@lean-error: @lean-red-2;

// vertical paddings
@lean-padding-lg : 24px; // containers
@lean-padding-md : 16px; // small containers and buttons
@lean-padding-sm : 12px; // Form controls and items
@lean-padding-xs : 8px; // small items

@lean-disabled-color: @lean-grey-4;
