@import 'custome-bootstrap-config.less';
@import './ui-variables.less';
// size
@page-min-width: 1300px;
@header-height: 56px;
@header-bg: @white;
@footer-height: 28px;
@padding-base: 15px;

// basic color
@white: #fff;
@red: #fc445b;

// color
@main-color: @brand-primary;
@black-bg: rgb(50, 51, 57);
@black-bg__hover: rgb(32, 32, 37);

@gray-btn-bg: #fafafa;
@gray-btn-hover-bg: #f5f5f5;
@border-color: #ddd;
@disabled-color: #c7cbd6;

@gender-male: #29a7ef;
@gender-female: #ff8282;

@badge-orange: #ff8600;
// Card panel
@card-panel-header-height: 59px;
// page panel
@page-panel-header-height: 40px;
@page-panel-padding: 15px;
@zindex-card-panel: 99;

@imageValueSize: 50px;

@loading-mask-zindex: 99999;

@nav-link-padding: 15px 15px 5px;

@my-dashboard-item-height: 300px;

@layout-header-height: 110px;
