@import '~less/variables.less';
@import '~less/ui-variables.less';
.actions-bar {
  width: 100%;
}

.left-part {
  display: inline-flex;
  width: 82%;
  flex-direction: column;
  .primary-top-title {
    height: 42px;
    .customer-icon {
      font-size: 32px;
      display: inline-block;
      position: relative;
      top: -3px;
      color: @main-color;
    }
    .module-info {
      display: inline-block;
      min-width: 84px;
      margin-left: 16px;
      .module-name {
        font-size: 12px;
      }
      .module-main-filter {
        line-height: 24px;
      }
    }
  }
  .list-item-summarize {
    height: 18px;
    font-size: 12px;
    margin-top: 20px;
    color: #637381;
  }
}

.add-button {
  vertical-align: middle;
}

.add-import {
  vertical-align: bottom;
}

.right-part {
  display: inline-flex;
  width: 18%;
  flex-direction: column;
  text-align: right;
  position: relative;
  top: -15px;
  .button-area {
    display: inline-flex;
    justify-content: flex-end;
    height: 32px;
    .more-menu {
      margin-left: 8px;
    }
  }
  .search-input {
    height: 32px;
    text-align: right;
    margin-top: 16px;
    font-size: 13px;
  }
}
.tool-link {
  text-decoration: none;
}