.applying-account{
    padding: 30px;
    .applying-btn{
        width: 840px;
        margin: 0 auto;
        .tw-btn{
            float: right;
        }
        &:after{
            content: '';
            clear: both;
            display: block;
        }
    }
}