.bind-account{
    padding: 30px;
    .bind-header{
        width: 100%;
        height: 106px;
        overflow: hidden;
        border-bottom: 1px solid #e5e5e5;
        .bind-icon-wrap{
            float: left;
            margin-right: 15px;
        }
        .bind-icon{
            width: 78px;
            height: 78px;
            overflow: hidden;
            border-radius: 50%;
            display: table-cell;
            vertical-align: middle;
            img{
                width: 100%;
            }
        }
        .bind-title{
            float: left;
            padding-top: 15px;
            .bind-vendor{
                color: #333;
                line-height: 1;
                font-size: 16px;
                margin-bottom: 15px;
            }
            .bind-des{
                color: #999;
                font-size: 12px;
            }
        }
    }
    .bind-form{
        margin-top: 30px;
        .ant-form-item-label{
            width: 140px;
            float: left;
            margin-right: 20px;
            label{
                color: #666;
            }
        }
        .ant-input{
            color: #666;
        }
        .ant-form-item-control-wrapper{
            width: 260px;
            float: left;
            .ant-input{
                width: 100%;
            }
        }
        .btn-sub{
            margin-left: 160px;
            margin-right: 10px;
        }
        .ant-select-selection-selected-value{
            color: #666;
        }
    }
}