.mock-account{
    padding: 30px;
    .ant-form{
        margin-top: 30px;
    }
    .ant-row{
        margin-bottom: 25px;
    }
    .ant-form-item-label{
        width: 104px;
        margin-right: 12px;
    }
    .ant-form-item-control-wrapper{
        width: 260px;
        display: inline-block;
    }
    .tw-btn{
        margin-left: 92px;
    }
    .ant-form-explain{
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
    }
}