.open-act-test{
    padding: 30px;
    .test-header{
        padding: 18px 0 48px;
        border-bottom: 1px solid #eceff0;
    }
    .test-header-tit{
        line-height: 1;
        font-size: 16px;
        color: #333333;
    }
    .test-header-con{
        line-height: 1;
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
    }
    .test-body{
        .test-email{
            padding: 25px 0;
            display: flex;
            align-items: center;
        }
        .test-xing{
            color: #ff4c39;
        }
        .ant-input{
            width: 260px;
            height: 32px;
            margin: 0 15px;
        }
        .test-question{
            padding: 35px 25px;
            background-color: #fafafa;
            border: 1px solid #eceff0;
            .question-tit{
                font-size: 14px;
                color: #333333;
            }
            .ant-radio-group{
                padding: 25px 0 25px 15px;
            }
            .ant-radio-wrapper{
                white-space: normal;
            }
        }
        .test-sub{
            margin-top: 30px;
        }
    }
    .ant-modal{
        top: 250px;
        width: 420px!important;
    }
    .test-pass-con{
        overflow-y: auto;
        text-align: center;
        padding: 14px 50px;
        max-height: 200px;
        span{
            font-size: 45px;
            color: #00a871;
        }
        p{
            font-size: 14px;
            color: #999999;
        }
    }
    .radio-required{
        font-size: 12px;
        color: #fc445b;
    }
}