.transaction-reports {
    table {
        table-layout: fixed;
        margin: 20px 0;
    }
    .table {
        table-layout: fixed;
        margin: 0 0 20px;
        .ant-table-footer {
            padding: 0;
        }
        td {
            padding:  16px;
        }
    }
    .pagination {
        text-align: right;
    }
}