<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    .content {
      width: 980px;
      margin: 40px auto 0;
    }
    a {
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 8px 15px;
      text-decoration: none;
      font-size: 14px;
      color: #333;
      background-color: #fff;
      min-width: 160px;
    }
    a:hover {
      background-color: #eee;
    }
  </style>
</head>
<body>
  <div class="content">
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <% for (var k in htmlWebpackPlugin.options.entrys) { %>
      <% if (k === "vendor") continue; %>
      <a href="<%= "/"+k %>"><%= k %></a>
    <% } %>
  </div>
</body>
</html>
