@import '../index.less';
.export-modal {
  :global(.modal-dialog) {
    width: 790px;
  }
  :global(.modal-body) {
    padding: 20px;
  }
}

.sync-button, .sync-button:hover, .sync-button:active, .sync-button:focus {
  margin-right: 8px;
}