@import '~less/fn.less';
.step-container{
    width: 100%;
    overflow: hidden;
    .step-sever{
        text-align: center;
        color: rgb(183, 183, 183);
        select{
            padding: 0;
            border: 0;
            margin: 0;
            display: inline-block;
            color: rgb(0,163,254);
            background-color: transparent;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }
}
.content-btn{
    .rem(35, margin-top);
    text-align: center;
}