@import '~less/variables';
.pagination-bar {
  padding-bottom: 25px;
}

.clickable_link {
  color: blue;
  cursor: pointer;
}

.sort-text {
  white-space: nowrap;
  cursor: pointer;
}

.yellow-star {
  color: #ffb500;
}

.menu-pop {
  :global(.lean-popover-inner-content) {
    padding: 0;
  }
  ::global(.lean-menu) {
    border: none;
  }
}
