@import "~less/variables.less";
.header_container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px solid @bordercolor;
  h1 {
    margin-bottom: 0;
  }
}
