.table_container {
  //   position: relative;
  table {
    table-layout: fixed;
  }
}
.fix_header {
  position: sticky;
  top: 0;
  background: white;
  thead {
    tr {
      th {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
.margin-bottom-0 {
  margin-bottom: 0;
  z-index: 2;
}
