@import '~less/variables.less';

.box {
  background-color: @white;
  border-radius: @border-radius-base;
  padding: 10px 15px;
}

.no-item {
  width: 100%;
  text-align: center;
  padding: 60px 0;
  i {
    font-size: 24px;
    color: #ddd;
    margin-bottom: 10px;
  }
  p {
    color: #999;
    font-size: 14px;
  }
}