.custom-info {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin: 0 15px 15px 0;
  border: 1px solid #dfe3e8;
  header {
    padding: 15px;
    height: 50px;
    font-size: 14px;
    .icon {
      color: #42b549;
      font-size: 24px;
      vertical-align: -5px;
      margin-right: 10px;
    }
  }
  .new-form-field {
    margin: 0;
  }
  :global(.lean-form) {
    margin: 0;
  }
  .search-item {
    display: flex;
    .search-customer {
      width: 70%;
      :global(.lean-select) {
        border-radius: 4px 0 0 4px;
      }
      :global(.lean-select-selection) {
        border-radius: 4px 0 0 4px;
      }
    }
    .ta-user {
      width: 30%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 5px 10px;
      box-sizing: border-box;
      border: 1px solid #dfe3e8;
      border-radius: 0 4px 4px 0;
    }
  }
}
