@import '~less/variables.less';

.condiiton-filter-content {
  background: none;
  padding: 16px;
  :global(.lean-select-option) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.col-list {
  list-style: none;
  padding: 0;
  li {
    height: 28px;
    border-radius: 4px;
    border: solid 1px #dfe3e8;
    background-color: #fafafa;
    margin: 8px 0;
    padding: 4px 10px;
  }
  .close {
    line-height: 20px;
    float: right;
  }
  .tip {
    margin-left: 10px;
    color: #919eab;
  }
}
// .list {
//   // overflow: auto;
//   // height: 100%;
//   position: relative;
//   .fields {
//     &:after {
//       content: '';
//       display: block;
//       clear: both;
//       height: 0;
//       line-height: 0;
//     }
//     max-width: 1360px;
//     .row {
//       .field-title {
//         :global(.lean-checkbox-wrapper) {
//           color: @lean-grey-1;
//           padding: 11px 16px;
//           display: block;
//         }
//       }
//       .field-content {
//         padding: 0px 16px 10px 38px;
//         &-item {
//           margin: 4px 0;
//           :global(.lean-calendar-range-picker-input) {
//             overflow: hidden;
//             white-space: nowrap;
//             max-width: 72px;
//           }
//           :global(.lean-calendar-picker-icon) {
//             display: none;
//           }
//           :global(.lean-input) {
//             line-height: normal;
//           }
//           :global(.lean-calendar-picker) {
//             :global(.lean-input),
//             :global(.lean-input-sm) {
//               padding: 3px 0 0 3px;
//             }
//           }
//         }
//       }
//     }
//   }

//   :global(.lean-picklist-button) {
//     width: 100%;
//     height: auto;
//     min-height: 24px;
//     :global(.lean-picklist-content) {
//       word-break: break-all;
//     }
//     :global(.lean-picklist-tag) {
//       height: auto;
//       min-height: 24px;
//     }
//   }
//   :global(.lean-picklist-list) {
//     // height: 182px;
//     background: #fff;
//     :global(.lean-picklist-item) {
//       display: block;
//       padding-right: 10px;
//     }
//     // :global(.lean-picklist-menu) {
//     //   min-height: 70px;
//     // }
//   }
//   :global(.lean-calendar-picker-input) {
//     height: 24px;
//     line-height: 1.5;
//   }
//   :global(.lean-dropdown) {
//     max-width: 184px;
//   }
//   :global(.lean-select-selection) {
//     overflow: hidden;
//     word-break: break-all;
//     text-overflow: ellipsis;
//   }
// }
