.item_container {
  margin: 30px 0;
  h2 {
    font-size: 16px;
    margin-top: 10px;
    strong {
      font-size: 14px;
      color: red;
    }
  }
  .btn_area {
    margin-top: 10px;
  }
  .import_btn_area {
    margin-top: 10px;

    .upload_btn {
      margin-bottom: 10px;
    }
  }
  .export_btn {
    display: inline-block;
  }
}
