@import '../../../../components/ActionsBar/ActionsBar.less';

.date-time-picker .date-time-button {
  background-color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #666;
  height: 30px;
  padding: 0 10px;
  border-color: #00a8a6;
}

.sumary-title {
  font-size: 16px;
  color: @lean-grey-1;
}
