.header-select {
  margin-left: 10px;
}

// .pop-over-time-range {
//   width: 200px;
//   &:global(.left):global(.popover) {
//     left: -205px;
//   }
// }

.pop-over-period {
  &:global(.left):global(.popover) {
    top: 130%;
    width: 300px;
    right: 110%;
    &>:global(.arrow) {
      top: 20%;
    }
  }
}