.btn {
  margin-right: 20px;
}
.select {
  display: inline-block;
  width: 100px;
  margin-left: 5px;
}
.add {
  margin-top: 20px;
  margin-bottom: 20px;
  i {
    cursor: pointer;
    margin: 0 5px;
    font-size: 14px;
    &:hover {
      color: #1fb5ad;
    }
  }
}
