@import '~less/variables.less';

.button ,.button:active,.button:focus, .button:disabled{
  background: @white;
  border: 1px solid #ddd;
  color: @text-color;
  padding: 5px 16px;
  line-height: 18px;
  &.active, &:hover {
    color: @text-color;
  }
  &:disabled {
    opacity: .5;
  }
}