@import '~less/variables.less';

.step_operation {
  display: flex;
  padding-top: 15px;
}

.editMember {
  cursor: pointer;
}

.btns {
  flex: 1;
  text-align: right;
  :global(.lean-btn) {
    margin-left: 5px;
  }
}

.stepName {
  width: 230px;
}

.step_operation_number {
  color: #aaa;
}

.basic-info {
  padding: 10px 0;
}

.basic-info-item {
  display: flex;
  padding-bottom: 15px;
  align-items: center;
}

.basic-label {
  width: 30%;
  text-align: right;
  padding-right: 15px;
}
.basic-control {
  width: 250px;
}


