@import '~less/variables.less';

.container {
  color: @text-color-dark;
  align-items: center;
  display: inline-flex;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}

.tags {
  display: inline;
}

.tag, .jobNumber {
  color: #ccc;
}
.closed {
  color: @text-color-light;
}
.jobName {
  margin-right: 5px;
}

.jobNumber {
  font-size: 12px;
  margin-right: 5px;
}

