.credit-from {
  margin-top: 30px;
  :global(.form-item) {
    :global(.form-item-label) {
      width: 140px;
    }
    :global(.form-item-control) {
      padding-top: 6px;
      width: auto;
    }
  }
  :global(.form-control) {
    width: auto;
  }
  :global(.btn-primary) {
    margin-left: 140px;
  }
}
