.notice-top{
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    line-height: 1;
    position: fixed;
    text-align: center;
    padding: 12px 65px;
    box-sizing: border-box;
    background-color: rgba(255, 241, 210, 0.6);
}
.notice-warning{
    font-size: 14px;
    color: #ffb20c;
    margin-right: 10px;
}
.notice-word{
    font-size: 14px;
    color: #666666;
}
.notice-close{
    top: 50%;
    right: 50px;
    font-size: 12px;
    color: #666666;
    position: absolute;
    line-height: 1;
    margin-top: -6px;
}