.story-panel {
  padding: 0 50px;
  box-sizing: border-box;
}

.story-demo .lean-btn {
  margin: 0 20px 20px 0;
}
.story-btn-group-demo .lean-btn-group {
  margin: 0 20px 20px 0;
}
.story-demo .lean-switch {
  margin: 0 30px 30px 0;
}
.story-input {
  width: 50%;
  margin-bottom: 20px;
}
.sotry-icon-demo {
  display: flex;
  flex-wrap: wrap;
}
.sotry-icon-demo-test {
  color: #f60;
}
.sotry-icon-demo-item {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  margin: -1px 0 0 -1px;
  text-align: center;
}
.sotry-icon-demo-icon {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sotry-icon-demo-name {
}

.badge-example {
  width: 28px;
  height: 28px;
  background-color: #57b8f4;
  border: solid 1px #35acf1;
  display: inline-block;
  border-radius: 7px;
}

.badge-demo {
  .lean-badge {
    margin: 0 20px 20px 0;
  }
  .lean-btn {
    margin: 0;
  }
}
.story-input-number {
  width: 50%;
  margin-bottom: 20px;
}

.tablel-demo-fixed-header {
  height: 200px;
}
.story-select{
  width: 45%;
  margin-bottom: 20px;
}

.form-demo {
  width: 500px;
}
