.list_container {
  max-height: 260px;
  overflow: auto;
}
.move_accountName {
  display: flex;
  align-items: center;
  .text {
    margin-right: 15px;
  }
}
.modalBody {
  padding-top: 10px;
  overflow: visible !important;
}
