@import '~less/variables.less';

.customermgmt {
  color: white;
  background-color: green;
  border-radius: @border-radius-base;
  padding: 10px 15px;
}

ul li{
  list-style: none;
}

.active-text{
  color:red;
}

.duplicate-highlight {
  color: @state-success-text;
  margin: 0 3px;
}
.phone-record-time {
  color: @text-color-light;
}
.timeline-delete{
  margin-left: 5px;
}