@import '~less/fn.less';
.account-metas {
	.meta {
		.rem(40px, margin-right);
		font-size: 12px;
	}
}

[data-dpr="2"] .account-metas {
	.meta {
		font-size: 24px;
	}
}

[data-dpr="3"] .account-metas {
	.meta {
		font-size: 36px;
	}
}