@import '~less/variables';

.strategy {
  position:relative;
}

.strategy-control .strategyInput {
  padding: 10px 10px;
}

.strategySizeBox {
  display: flex;
  position:absolute;
  padding-left: 10px;
  right:10px;
  bottom:10px;
  align-items: center;
}