@import '~less/fn.less';

.item-dialog-wrap{
    .rem-padding(40, 40);
    p{
        line-height: 1;
        .rem-padding(10, 0);
    }
    .dialog-tit{
        font-size: 14px;
        color: rgb(147,147,147);
    }
    .dialog-val{
        color: #3E3E3E;
        font-size: 14px;
    }
    .dialog-line{
        margin: 0 auto;
        .rem-width(620);
        .rem-margin(15, 0);
        border-bottom: 1px dashed #E1E1E1;
    }
}