.module-header {
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.operationIcon {
  margin-right: 10px;
  cursor: pointer;
}
.table {
  th:nth-child(1),th:nth-child(4){
    width: 260px;
  }
  th:nth-child(2),th:nth-child(3){
    width: 450px;
  }
  th:nth-child(5){
    width: 64px;
  }
}