.tw-fileupload{
	.ant-upload-select-picture-card i {
		font-size: 32px;
		color: #999;
	}
	.ant-upload-select-picture-card .ant-upload-text {
		margin-top: 8px;
		color: #666;
	}
	.ant-upload-disabled{
		background: #f5f5f5;
		color: rgba(0, 0, 0, 0.25);
		border-color: #d9d9d9!important;
		cursor: not-allowed;
	}
	&:after{
		clear: both;
		content: '';
		display: block;
	}
	.ant-upload-list-picture-card .ant-upload-list-item-info {
		word-break: break-all;
	}
}