@import '~less/variables';

.container {
  padding-top: 15px;
}

.headerCloseBox {
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: -44px;
}

.more {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.btns {
  display: flex;
  justify-content: flex-end;
  > :global(.btn) {
    margin-left: 10px;
  }
}
.focus {
  margin-left: 10px;
}