.body {
  div {
    margin: 20px 0;
    &:first-child {
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 5px;
    }
  }
}
.content {
  padding: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  a {
    color: #ffffff;
    display: inline-block;
    width: 100%;
    padding: 15px;
  }
  div {
    width: 50%;
    color: #ffffff;
    text-align: center;
    background: #108ee9;
    &:first-child {
      margin-right: 1px;
    }
  }
}
