.footer_button {
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  button {
    margin-right: 20px;
    margin-top: 20px;
  }
}
.margin_top {
  margin-top: 15px;
}

.rate_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
