@import '~less/variables';
.tips {
    padding: 30px 0 15px 0;
    font-size: 12px;
    margin: 0;
}

.pagination-bar {
    padding-bottom: 25px;
}

.btn {
    border: 1px solid @main-color;
    color: @main-color;
    background-color: transparent;
    padding: 2px 10px;
}

.tag-more {
    cursor: pointer;
    min-width: 30px;
    i {
        vertical-align: middle;
        color: @brand-primary;
    }
}

.tag-tips-container {
    min-height: 170px;
    padding: 0 30px;
    .tag {
        margin-bottom: 10px;
    }
}