.google-validate-modal {
  color: #333333;
  font-size: 13px;
  .input-key {
    margin-top: 12px;
    margin-bottom: 0px;
  }
  .qr-img {
    width: 130px;
  }
  .color-red {
    color: #f5222d;
  }
  .input-error-msg {
    color: #f5222d;
    font-size: 14px;
  }
}
