@import '../index.less';

.last-send-time {
  color: #999;
  margin-right: 10px;
  font-size: 12px;
}
.owner-state-icon {
  margin-left: 10px;
  font-size: 17px;
}
.ques-content {
  min-width: 200px;
}
.broker {
  color: #ff665c;
}