@import '~less/variables';
.action-button {
    width: 21px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #1fb5ad;
    border-color: #1fb5ad;
}

.action-button:hover {
    color: #fff;
    background-color: #1ca59e;
    border-color: #1ca59e;
}

.action-button:active {
    color: #fff;
    background-color: #1ca59e;
    border-color: #1ca59e;
}

.action-button:focus {
    color: #fff;
    background-color: #1ca59e;
    border-color: #1ca59e;
}

.body {
    overflow: auto;
}

.icon {
    color: @main-color;

    &.disable {
        color: #c7cbd6;
    }
}

.icon-btn {
    border-color: @dropdown-border;
    color: @main-color;
    background-color: transparent;
    font-size: 12px;
  
    &:hover,
    &:focus,
    &:active {
      color: @main-color;
      background-color: transparent;
    }
  
    &:global(.active) {
      color: @brand-danger;
      background-color: transparent;
  
      &:hover,
      &:focus,
      &:active {
        color: @brand-danger;
      }
    }
  }