.password-field {
    position: relative;
    // display: table;
    .eye-icon {
      position: absolute;
      top: 50%;
      right: 8px;
      margin-top: -8px;
      cursor: pointer;
    }
}
.icon {
  color: #919eab;
}