@import '~less/variables.less';
.title {
  margin-bottom: 5px;
  margin-top: 5px;
}
.body {
  padding-top: 10px;
}
.pvmap-modal {
  min-width: 600px;
}

.text {
  font-size: 12px;
}

.table {
  margin-bottom: 0;
  width: auto;
  min-width: 100%;
  max-width: none;

  td, th {
    white-space: nowrap;
  }

  > tbody > tr > td {
    vertical-align: top;
  }

  .dropdown {
    width: 100%;
    max-width: 90px;
  }

  .text {
    min-width: 90px;
  }
}

.dropdown-group {
  display: flex;
  flex-wrap: wrap;
  background: #fafafa;
  padding: 10px 10px 20px 20px;
  border-radius: 4px;
  border: 1px solid #dfe3e8;
  >div {
    flex-basis: 50%;
    padding-right: 15px;
  }
  + .help-text {
    top: 100%;
    margin-top: -7px;
  }
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  >div {
    flex-basis: 50%;
  }
  :global(.lean-select) {
    width: 240px;
  }
}
.help-text {
  position: absolute;
  left: 10px;
  top: 47px;
  color: @brand-danger;
  display: none;
}

:global(.has-error) {
  position: relative;

  .help-text {
    display: block;
    top: 110px;
  }

  :global(.checkbox) {
    color: @text-color;
  }
}

.dropdown {
  :global(.lean-select-value),
  :global(.lean-select-placeholder) {
    white-space: nowrap;
  }
}

.mt-group {
  :global(.lean-picklist-button) {
    width: 100%;
  }
}