.sms-validate-modal {
  color: #333333;
  font-size: 13px;
  p {
    margin-bottom: 8px;
  }
  .validate-code-box {
    margin-top: 12px;
    display: flex;
  }
  .validate-code-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .validate-code-btn {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
  .validate-code-input-disabled {
    background: #f5f5f5;
  }
  .input-error-msg {
    color: #f5222d;
    font-size: 14px;
  }
}
