@import "variables";

@font-face {
  font-family: 'tw-web';
  src:  url('@{icomoon-font-path}/tw-web.eot?9c6pg');
  src:  url('@{icomoon-font-path}/tw-web.eot?9c6pg#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/tw-web.ttf?9c6pg') format('truetype'),
    url('@{icomoon-font-path}/tw-web.woff?9c6pg') format('woff'),
    url('@{icomoon-font-path}/tw-web.svg?9c6pg#tw-web') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tw-web' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete-outline {
  &:before {
    content: @icon-delete-outline; 
  }
}
.icon-x {
  &:before {
    content: @icon-x; 
  }
}
.icon-youjian {
  &:before {
    content: @icon-youjian; 
  }
}
.icon-about01 {
  &:before {
    content: @icon-about01; 
  }
}
.icon-zhuxiao01 {
  &:before {
    content: @icon-zhuxiao01; 
  }
}
.icon-xiangguan01 {
  &:before {
    content: @icon-xiangguan01; 
  }
}
.icon-zhanghuguanli01 {
  &:before {
    content: @icon-zhanghuguanli01; 
  }
}
.icon-wodeziliao01 {
  &:before {
    content: @icon-wodeziliao01; 
  }
}
.icon-zijinguanli01 {
  &:before {
    content: @icon-zijinguanli01; 
  }
}
.icon-tabianji {
  &:before {
    content: @icon-tabianji; 
  }
}
.icon-shangchuan {
  &:before {
    content: @icon-shangchuan; 
  }
}
.icon-close01 {
  &:before {
    content: @icon-close01; 
  }
}
.icon-tishi01 {
  &:before {
    content: @icon-tishi01; 
  }
}
.icon-xinzeng01 {
  &:before {
    content: @icon-xinzeng01; 
  }
}
.icon-chenggongtishi01 {
  &:before {
    content: @icon-chenggongtishi01; 
  }
}
.icon-gouxuan01 {
  &:before {
    content: @icon-gouxuan01; 
  }
}
.icon-rili01 {
  &:before {
    content: @icon-rili01; 
  }
}
.icon-xiangxia01 {
  &:before {
    content: @icon-xiangxia01; 
  }
}
.icon-xiangshang01 {
  &:before {
    content: @icon-xiangshang01; 
  }
}
.icon-dangqianzhanghu01 {
  &:before {
    content: @icon-dangqianzhanghu01; 
  }
}
.icon-weixin {
  &:before {
    content: @icon-weixin; 
  }
}
.icon-zuobiao {
  &:before {
    content: @icon-zuobiao; 
  }
}
.icon-shijian {
  &:before {
    content: @icon-shijian; 
  }
}
.icon-renwu {
  &:before {
    content: @icon-renwu; 
  }
}
.icon-bofang {
  &:before {
    content: @icon-bofang; 
  }
}
.icon-sidebar_live {
  &:before {
    content: @icon-sidebar_live; 
  }
}
.icon-register_mobile {
  &:before {
    content: @icon-register_mobile; 
  }
}
.icon-account_platform_selected {
  &:before {
    content: @icon-account_platform_selected; 
  }
}
.icon-Update_Prompt {
  &:before {
    content: @icon-Update_Prompt; 
  }
}
.icon-icon_announcement {
  &:before {
    content: @icon-icon_announcement; 
  }
}
.icon-wechat {
  &:before {
    content: @icon-wechat; 
  }
}
.icon-weibo {
  &:before {
    content: @icon-weibo; 
  }
}
.icon-Messageprompt {
  &:before {
    content: @icon-Messageprompt; 
  }
}
.icon-icon_Warning {
  &:before {
    content: @icon-icon_Warning; 
  }
}
.icon-icon_lecturer {
  &:before {
    content: @icon-icon_lecturer; 
  }
}
.icon-icon_ask {
  &:before {
    content: @icon-icon_ask; 
  }
}
.icon-icon_result {
  &:before {
    content: @icon-icon_result; 
  }
}
.icon-icon_score {
  &:before {
    content: @icon-icon_score; 
  }
}
.icon-icon_date {
  &:before {
    content: @icon-icon_date; 
  }
}
.icon-icon_state {
  &:before {
    content: @icon-icon_state; 
  }
}
.icon-kefu01 {
  &:before {
    content: @icon-kefu01; 
  }
}
.icon-register_email {
  &:before {
    content: @icon-register_email; 
  }
}

