@icomoon-font-path: "fonts";

@icon-delete-outline: "\e900";
@icon-x: "\78";
@icon-youjian: "\e630";
@icon-about01: "\e668";
@icon-zhuxiao01: "\e669";
@icon-xiangguan01: "\e66b";
@icon-zhanghuguanli01: "\e66e";
@icon-wodeziliao01: "\e66f";
@icon-zijinguanli01: "\e670";
@icon-tabianji: "\e672";
@icon-shangchuan: "\e673";
@icon-close01: "\e674";
@icon-tishi01: "\e675";
@icon-xinzeng01: "\e676";
@icon-chenggongtishi01: "\e678";
@icon-gouxuan01: "\e679";
@icon-rili01: "\e67a";
@icon-xiangxia01: "\e67c";
@icon-xiangshang01: "\e67d";
@icon-dangqianzhanghu01: "\e67e";
@icon-weixin: "\e686";
@icon-zuobiao: "\e62c";
@icon-shijian: "\e62d";
@icon-renwu: "\e621";
@icon-bofang: "\e62f";
@icon-sidebar_live: "\e631";
@icon-register_mobile: "\e63d";
@icon-account_platform_selected: "\e641";
@icon-Update_Prompt: "\e642";
@icon-icon_announcement: "\e644";
@icon-wechat: "\e645";
@icon-weibo: "\e646";
@icon-Messageprompt: "\e647";
@icon-icon_Warning: "\e648";
@icon-icon_lecturer: "\e649";
@icon-icon_ask: "\e64a";
@icon-icon_result: "\e64b";
@icon-icon_score: "\e64c";
@icon-icon_date: "\e64d";
@icon-icon_state: "\e64e";
@icon-kefu01: "\e666";
@icon-register_email: "\e640";

