@import '~less/sc/variables.less';

.container {
  margin-bottom: 20px;
  p > i {
    margin-left: 12px;
    padding: 4px;
    cursor: pointer;
    &:hover {
      color: @brand-primary;
    }
  }
}
.title {
  font-size: 14px;
  font-weight: 500;
}
