.double-validate-modal {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 16px;
      margin-bottom: 0;
    }
    span {
      font-size: 13px;
      cursor: pointer;
    }
  }
  .content {
    color: #666666;
    margin-top: 50px;
    // .validate-input {
    //   font-size: 13px !important;
    // }
  }
  .margin-bottom {
    margin-bottom: 16px;
  }
  .cannot-get-code {
    margin-top: 10px;
    margin-bottom: 6px;
    cursor: pointer;
  }
  .validate-btn {
    button {
      width: 100%;
    }
    .margin-top {
      margin-top: 8px;
    }
  }
  .input-error-msg {
    color: #f5222d;
    font-size: 14px;
  }
}
