@import "variables";

@font-face {
  font-family: 'tw-web';
  src:  url('@{icomoon-font-path}/tw-web.eot?d6p7f9');
  src:  url('@{icomoon-font-path}/tw-web.eot?d6p7f9#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/tw-web.ttf?d6p7f9') format('truetype'),
    url('@{icomoon-font-path}/tw-web.woff?d6p7f9') format('woff'),
    url('@{icomoon-font-path}/tw-web.svg?d6p7f9#tw-web') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tw-web' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-apply-out {
  &:before {
    content: @icon-account-apply-out;     
    color: #ffbf00;
  }
}
.icon-account-capital-flow {
  &:before {
    content: @icon-account-capital-flow;     
    color: #94d94a;
  }
}
.icon-account-change-password {
  &:before {
    content: @icon-account-change-password;     
    color: #fc7b53;
  }
}
.icon-account-forget-password {
  &:before {
    content: @icon-account-forget-password;     
    color: #ffbf00;
  }
}
.icon-account-lever-adjustment {
  &:before {
    content: @icon-account-lever-adjustment;     
    color: #fc7b53;
  }
}
.icon-account-online-enter {
  &:before {
    content: @icon-account-online-enter;     
    color: #ffbf00;
  }
}
.icon-account-transaction-report {
  &:before {
    content: @icon-account-transaction-report;     
    color: #4aa5f0;
  }
}
.icon-account-transfer-accounts {
  &:before {
    content: @icon-account-transfer-accounts;     
    color: #ffa200;
  }
}
.icon-account-wiretransfer-enter {
  &:before {
    content: @icon-account-wiretransfer-enter;     
    color: #4aa5f0;
  }
}
.icon-account-about-color .path1 {
  &:before {
    content: @icon-account-about-color-path1;  
    color: rgb(148, 217, 74);
  }
}
.icon-account-about-color .path2 {
  &:before {
    content: @icon-account-about-color-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-account-bank-color {
  &:before {
    content: @icon-account-bank-color;     
    color: #4aa5f0;
  }
}
.icon-account-langues-color {
  &:before {
    content: @icon-account-langues-color;     
    color: #ffa200;
  }
}
.icon-account-profile-color {
  &:before {
    content: @icon-account-profile-color;     
    color: #fc7b53;
  }
}
.icon-account-email {
  &:before {
    content: @icon-account-email;     
    color: #21405a;
  }
}
.icon-account-name {
  &:before {
    content: @icon-account-name;     
    color: #21405a;
  }
}
.icon-account-password {
  &:before {
    content: @icon-account-password;     
    color: #21405a;
  }
}
.icon-account-phone {
  &:before {
    content: @icon-account-phone;     
    color: #21405a;
  }
}
.icon-add-account {
  &:before {
    content: @icon-add-account;     
    color: #0386ff;
  }
}
.icon-link-account {
  &:before {
    content: @icon-link-account;     
    color: #acb5c1;
  }
}
.icon-viedo-list {
  &:before {
    content: @icon-viedo-list;     
    color: #fff;
  }
}
.icon-add-icon {
  &:before {
    content: @icon-add-icon;     
    color: #ccc;
  }
}
.icon-delete-img .path1 {
  &:before {
    content: @icon-delete-img-path1;  
    color: rgb(204, 204, 204);
  }
}
.icon-delete-img .path2 {
  &:before {
    content: @icon-delete-img-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-man {
  &:before {
    content: @icon-man;     
    color: #fff;
  }
}
.icon-women {
  &:before {
    content: @icon-women;     
    color: #fff;
  }
}
.icon-avatar .path1 {
  &:before {
    content: @icon-avatar-path1;  
    color: rgb(158, 215, 255);
  }
}
.icon-avatar .path2 {
  &:before {
    content: @icon-avatar-path2;  
    margin-left: -1em;  
    color: rgb(229, 247, 255);
  }
}
.icon-normal-checked {
  &:before {
    content: @icon-normal-checked;     
    color: #0386ff;
  }
}
.icon-unselected-normal {
  &:before {
    content: @icon-unselected-normal;     
    color: #ccc;
  }
}
.icon-selected-normal .path1 {
  &:before {
    content: @icon-selected-normal-path1;  
    color: rgb(3, 134, 255);
  }
}
.icon-selected-normal .path2 {
  &:before {
    content: @icon-selected-normal-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-tabbar-account-blue {
  &:before {
    content: @icon-tabbar-account-blue;     
    color: #0386ff;
  }
}
.icon-tabbar-account-outline {
  &:before {
    content: @icon-tabbar-account-outline;     
    color: #4d668f;
  }
}
.icon-tabbar-my-blue {
  &:before {
    content: @icon-tabbar-my-blue;     
    color: #0386ff;
  }
}
.icon-tabbar-my-outline {
  &:before {
    content: @icon-tabbar-my-outline;     
    color: #4d668f;
  }
}
.icon-tabbar-viedo-blue {
  &:before {
    content: @icon-tabbar-viedo-blue;     
    color: #0386ff;
  }
}
.icon-tabbar-viedo-outline {
  &:before {
    content: @icon-tabbar-viedo-outline;     
    color: #4d668f;
  }
}
.icon-kefu01 {
  &:before {
    content: @icon-kefu01; 
  }
}
.icon-register_email {
  &:before {
    content: @icon-register_email; 
  }
}
.icon-delete-outline {
  &:before {
    content: @icon-delete-outline; 
  }
}
.icon-x {
  &:before {
    content: @icon-x; 
  }
}
.icon-youjian {
  &:before {
    content: @icon-youjian; 
  }
}
.icon-about01 {
  &:before {
    content: @icon-about01; 
  }
}
.icon-zhuxiao01 {
  &:before {
    content: @icon-zhuxiao01; 
  }
}
.icon-xiangguan01 {
  &:before {
    content: @icon-xiangguan01; 
  }
}
.icon-zhanghuguanli01 {
  &:before {
    content: @icon-zhanghuguanli01; 
  }
}
.icon-wodeziliao01 {
  &:before {
    content: @icon-wodeziliao01; 
  }
}
.icon-zijinguanli01 {
  &:before {
    content: @icon-zijinguanli01; 
  }
}
.icon-tabianji {
  &:before {
    content: @icon-tabianji; 
  }
}
.icon-shangchuan {
  &:before {
    content: @icon-shangchuan; 
  }
}
.icon-close01 {
  &:before {
    content: @icon-close01; 
  }
}
.icon-tishi01 {
  &:before {
    content: @icon-tishi01; 
  }
}
.icon-xinzeng01 {
  &:before {
    content: @icon-xinzeng01; 
  }
}
.icon-chenggongtishi01 {
  &:before {
    content: @icon-chenggongtishi01; 
  }
}
.icon-gouxuan01 {
  &:before {
    content: @icon-gouxuan01; 
  }
}
.icon-rili01 {
  &:before {
    content: @icon-rili01; 
  }
}
.icon-xiangxia01 {
  &:before {
    content: @icon-xiangxia01; 
  }
}
.icon-xiangshang01 {
  &:before {
    content: @icon-xiangshang01; 
  }
}
.icon-dangqianzhanghu01 {
  &:before {
    content: @icon-dangqianzhanghu01; 
  }
}
.icon-weixin {
  &:before {
    content: @icon-weixin; 
  }
}
.icon-zuobiao {
  &:before {
    content: @icon-zuobiao; 
  }
}
.icon-shijian {
  &:before {
    content: @icon-shijian; 
  }
}
.icon-renwu {
  &:before {
    content: @icon-renwu; 
  }
}
.icon-bofang {
  &:before {
    content: @icon-bofang; 
  }
}
.icon-sidebar_live {
  &:before {
    content: @icon-sidebar_live; 
  }
}
.icon-register_mobile {
  &:before {
    content: @icon-register_mobile; 
  }
}
.icon-account_platform_selected {
  &:before {
    content: @icon-account_platform_selected; 
  }
}
.icon-Update_Prompt {
  &:before {
    content: @icon-Update_Prompt; 
  }
}
.icon-icon_announcement {
  &:before {
    content: @icon-icon_announcement; 
  }
}
.icon-wechat {
  &:before {
    content: @icon-wechat; 
  }
}
.icon-weibo {
  &:before {
    content: @icon-weibo; 
  }
}
.icon-Messageprompt {
  &:before {
    content: @icon-Messageprompt; 
  }
}
.icon-icon_Warning {
  &:before {
    content: @icon-icon_Warning; 
  }
}
.icon-icon_lecturer {
  &:before {
    content: @icon-icon_lecturer; 
  }
}
.icon-icon_ask {
  &:before {
    content: @icon-icon_ask; 
  }
}
.icon-icon_result {
  &:before {
    content: @icon-icon_result; 
  }
}
.icon-icon_score {
  &:before {
    content: @icon-icon_score; 
  }
}
.icon-icon_date {
  &:before {
    content: @icon-icon_date; 
  }
}
.icon-icon_state {
  &:before {
    content: @icon-icon_state; 
  }
}

