@font-face {
  font-family: 'tw-web';
  src:  url('fonts/tw-web.eot?d6p7f9');
  src:  url('fonts/tw-web.eot?d6p7f9#iefix') format('embedded-opentype'),
    url('fonts/tw-web.ttf?d6p7f9') format('truetype'),
    url('fonts/tw-web.woff?d6p7f9') format('woff'),
    url('fonts/tw-web.svg?d6p7f9#tw-web') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tw-web' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-apply-out:before {
  content: "\e91e";
  color: #ffbf00;
}
.icon-account-capital-flow:before {
  content: "\e91f";
  color: #94d94a;
}
.icon-account-change-password:before {
  content: "\e920";
  color: #fc7b53;
}
.icon-account-forget-password:before {
  content: "\e921";
  color: #ffbf00;
}
.icon-account-lever-adjustment:before {
  content: "\e922";
  color: #fc7b53;
}
.icon-account-online-enter:before {
  content: "\e923";
  color: #ffbf00;
}
.icon-account-transaction-report:before {
  content: "\e924";
  color: #4aa5f0;
}
.icon-account-transfer-accounts:before {
  content: "\e925";
  color: #ffa200;
}
.icon-account-wiretransfer-enter:before {
  content: "\e926";
  color: #4aa5f0;
}
.icon-account-about-color .path1:before {
  content: "\e901";
  color: rgb(148, 217, 74);
}
.icon-account-about-color .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-account-bank-color:before {
  content: "\e903";
  color: #4aa5f0;
}
.icon-account-langues-color:before {
  content: "\e904";
  color: #ffa200;
}
.icon-account-profile-color:before {
  content: "\e905";
  color: #fc7b53;
}
.icon-account-email:before {
  content: "\e906";
  color: #21405a;
}
.icon-account-name:before {
  content: "\e907";
  color: #21405a;
}
.icon-account-password:before {
  content: "\e908";
  color: #21405a;
}
.icon-account-phone:before {
  content: "\e909";
  color: #21405a;
}
.icon-add-account:before {
  content: "\e90a";
  color: #0386ff;
}
.icon-link-account:before {
  content: "\e90b";
  color: #acb5c1;
}
.icon-viedo-list:before {
  content: "\e90c";
  color: #fff;
}
.icon-add-icon:before {
  content: "\e90d";
  color: #ccc;
}
.icon-delete-img .path1:before {
  content: "\e90e";
  color: rgb(204, 204, 204);
}
.icon-delete-img .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-man:before {
  content: "\e910";
  color: #fff;
}
.icon-women:before {
  content: "\e911";
  color: #fff;
}
.icon-avatar .path1:before {
  content: "\e912";
  color: rgb(158, 215, 255);
}
.icon-avatar .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(229, 247, 255);
}
.icon-normal-checked:before {
  content: "\e914";
  color: #0386ff;
}
.icon-unselected-normal:before {
  content: "\e915";
  color: #ccc;
}
.icon-selected-normal .path1:before {
  content: "\e916";
  color: rgb(3, 134, 255);
}
.icon-selected-normal .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tabbar-account-blue:before {
  content: "\e918";
  color: #0386ff;
}
.icon-tabbar-account-outline:before {
  content: "\e919";
  color: #4d668f;
}
.icon-tabbar-my-blue:before {
  content: "\e91a";
  color: #0386ff;
}
.icon-tabbar-my-outline:before {
  content: "\e91b";
  color: #4d668f;
}
.icon-tabbar-viedo-blue:before {
  content: "\e91c";
  color: #0386ff;
}
.icon-tabbar-viedo-outline:before {
  content: "\e91d";
  color: #4d668f;
}
.icon-kefu01:before {
  content: "\e666";
}
.icon-register_email:before {
  content: "\e640";
}
.icon-delete-outline:before {
  content: "\e900";
}
.icon-x:before {
  content: "\78";
}
.icon-youjian:before {
  content: "\e630";
}
.icon-about01:before {
  content: "\e668";
}
.icon-zhuxiao01:before {
  content: "\e669";
}
.icon-xiangguan01:before {
  content: "\e66b";
}
.icon-zhanghuguanli01:before {
  content: "\e66e";
}
.icon-wodeziliao01:before {
  content: "\e66f";
}
.icon-zijinguanli01:before {
  content: "\e670";
}
.icon-tabianji:before {
  content: "\e672";
}
.icon-shangchuan:before {
  content: "\e673";
}
.icon-close01:before {
  content: "\e674";
}
.icon-tishi01:before {
  content: "\e675";
}
.icon-xinzeng01:before {
  content: "\e676";
}
.icon-chenggongtishi01:before {
  content: "\e678";
}
.icon-gouxuan01:before {
  content: "\e679";
}
.icon-rili01:before {
  content: "\e67a";
}
.icon-xiangxia01:before {
  content: "\e67c";
}
.icon-xiangshang01:before {
  content: "\e67d";
}
.icon-dangqianzhanghu01:before {
  content: "\e67e";
}
.icon-weixin:before {
  content: "\e686";
}
.icon-zuobiao:before {
  content: "\e62c";
}
.icon-shijian:before {
  content: "\e62d";
}
.icon-renwu:before {
  content: "\e621";
}
.icon-bofang:before {
  content: "\e62f";
}
.icon-sidebar_live:before {
  content: "\e631";
}
.icon-register_mobile:before {
  content: "\e63d";
}
.icon-account_platform_selected:before {
  content: "\e641";
}
.icon-Update_Prompt:before {
  content: "\e642";
}
.icon-icon_announcement:before {
  content: "\e644";
}
.icon-wechat:before {
  content: "\e645";
}
.icon-weibo:before {
  content: "\e646";
}
.icon-Messageprompt:before {
  content: "\e647";
}
.icon-icon_Warning:before {
  content: "\e648";
}
.icon-icon_lecturer:before {
  content: "\e649";
}
.icon-icon_ask:before {
  content: "\e64a";
}
.icon-icon_result:before {
  content: "\e64b";
}
.icon-icon_score:before {
  content: "\e64c";
}
.icon-icon_date:before {
  content: "\e64d";
}
.icon-icon_state:before {
  content: "\e64e";
}
