@icomoon-font-path: "fonts";

@icon-account-apply-out: "\e91e";
@icon-account-capital-flow: "\e91f";
@icon-account-change-password: "\e920";
@icon-account-forget-password: "\e921";
@icon-account-lever-adjustment: "\e922";
@icon-account-online-enter: "\e923";
@icon-account-transaction-report: "\e924";
@icon-account-transfer-accounts: "\e925";
@icon-account-wiretransfer-enter: "\e926";
@icon-account-about-color-path1: "\e901";
@icon-account-about-color-path2: "\e902";
@icon-account-bank-color: "\e903";
@icon-account-langues-color: "\e904";
@icon-account-profile-color: "\e905";
@icon-account-email: "\e906";
@icon-account-name: "\e907";
@icon-account-password: "\e908";
@icon-account-phone: "\e909";
@icon-add-account: "\e90a";
@icon-link-account: "\e90b";
@icon-viedo-list: "\e90c";
@icon-add-icon: "\e90d";
@icon-delete-img-path1: "\e90e";
@icon-delete-img-path2: "\e90f";
@icon-man: "\e910";
@icon-women: "\e911";
@icon-avatar-path1: "\e912";
@icon-avatar-path2: "\e913";
@icon-normal-checked: "\e914";
@icon-unselected-normal: "\e915";
@icon-selected-normal-path1: "\e916";
@icon-selected-normal-path2: "\e917";
@icon-tabbar-account-blue: "\e918";
@icon-tabbar-account-outline: "\e919";
@icon-tabbar-my-blue: "\e91a";
@icon-tabbar-my-outline: "\e91b";
@icon-tabbar-viedo-blue: "\e91c";
@icon-tabbar-viedo-outline: "\e91d";
@icon-kefu01: "\e666";
@icon-register_email: "\e640";
@icon-delete-outline: "\e900";
@icon-x: "\78";
@icon-youjian: "\e630";
@icon-about01: "\e668";
@icon-zhuxiao01: "\e669";
@icon-xiangguan01: "\e66b";
@icon-zhanghuguanli01: "\e66e";
@icon-wodeziliao01: "\e66f";
@icon-zijinguanli01: "\e670";
@icon-tabianji: "\e672";
@icon-shangchuan: "\e673";
@icon-close01: "\e674";
@icon-tishi01: "\e675";
@icon-xinzeng01: "\e676";
@icon-chenggongtishi01: "\e678";
@icon-gouxuan01: "\e679";
@icon-rili01: "\e67a";
@icon-xiangxia01: "\e67c";
@icon-xiangshang01: "\e67d";
@icon-dangqianzhanghu01: "\e67e";
@icon-weixin: "\e686";
@icon-zuobiao: "\e62c";
@icon-shijian: "\e62d";
@icon-renwu: "\e621";
@icon-bofang: "\e62f";
@icon-sidebar_live: "\e631";
@icon-register_mobile: "\e63d";
@icon-account_platform_selected: "\e641";
@icon-Update_Prompt: "\e642";
@icon-icon_announcement: "\e644";
@icon-wechat: "\e645";
@icon-weibo: "\e646";
@icon-Messageprompt: "\e647";
@icon-icon_Warning: "\e648";
@icon-icon_lecturer: "\e649";
@icon-icon_ask: "\e64a";
@icon-icon_result: "\e64b";
@icon-icon_score: "\e64c";
@icon-icon_date: "\e64d";
@icon-icon_state: "\e64e";

