@import "~less/fn.less";

.sub-suc{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    .suc-img{
        .rem(80px, width);
    }
    .suc-tit-des{
        .rem(25px, margin-left);
    }
    .suc-tit{
        color: rgb(62,62,62);
        font-size: 18px;
        font-weight: 500;
    }
    .suc-des{
        color: rgb(147,147,147);
        font-size: 12px;
    }
}