.password-field {
    position: relative;
    display: table;
    width: 100%;
    .eye-icon {
      position: absolute;
      top: 50%;
      right: 8px;
      margin-top: -8px;
      cursor: pointer;
    }
}
