@import "~less/fn.less";

.upload-pic{
    width: 50%;
}
.add-pic{
    position: relative;
    .icon-pic{
        .rem(145, width);
        .rem(145, height);
    }
    input{
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        width: 50%;
        position: absolute;
    }
}
.upload-pic{
    width: 50%;
}
.line{
    width: 100%;
    bottom: -1px;
    font-size: 12px;
    text-align: right;
    position: absolute;
    color: rgb(244, 67, 54);
    border-bottom: 2px solid rgb(244, 67, 54);
}