.notice-bar {
  position: relative;
  .wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .content {
    display: flex;
    align-items: center;
    background-color: #919eab;
    color: #fff;
    padding: 5px 0 5px 25px;
    border-radius: 4px;
    :global(.icon-lw-close) {
      cursor: pointer;
      padding: 0 10px;
    }
  }
}
