@import '~less/variables.less';

@successed-bg-color: #eaf9f4;
@successed-border-color: #dceae6;
@successed-color: @main-color;

@failed-bg-color: #f9eeea;
@failed-border-color: #f3dfd7;
@failed-color: @red;