.csc-input {
  div {
    float: left;
  }
}

.csc-container {
  width: 60%;
}

.csc-control {
  width: 40%;
}

.csc-field {
  display: inline-block;
}

:global(.form-item) :global(.form-item-label).csc-label {
  width: 130px;
}