@import '~less/variables';
.sort-text {
    white-space: nowrap;
    cursor: pointer;
}

.sort-icon {
    position: relative;
    margin-left: 3px;
    color: @text-color-light;
    > :global(.fa) {
        position: absolute;
        transform: translateY(3px);
        &.active {
            color: @main-color;
        }
    }
}

.image-size {
    background-color: rgba(0, 0, 0, .7);
    height: 80.5px;
    width: 161px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    img {
        height: 80.5px;
        width: 161px;
    }
}

.live-expire-div {
    display: inline-block;
    color: red;
}