.radio {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 900;
}

.grid-control {
  margin-top: 20px;
  font-size: 12px;
}

.text {
  font-size: 12px;
}