.appropriate-test{
	padding: 30px;
	.top-title{
		color: #333;
		font-size: 16px;
		border-bottom: 1px solid #eceff0;
		line-height: 2.88;
	}
	.top-tips{
		img{
			width:136px;
			height: 120px;
		}
		color: #666;
		padding: 30px;
		display: flex;
		justify-content:center;
		.top-tips-content{
			width: 208px;
			font-size: 16px;
			line-height: 1.38;
			margin-top: 15px;
			margin-left: 46px;
			button{
				margin-top: 15px;
			}
		}
	}
	.result-item{
		height: 60px;
		width: 392px;
		background-color: #f7f8fa;
		margin: 10px auto;
		display: flex;
		align-items:center;
		i{
			font-size: 26px;
			width: 60px;
			height:60px;
			line-height: 60px;
			text-align: center;
			background-color: #eceff9;
		}
		.result-item-label{
			margin-left: 12px;
			color: #666;
			margin-right: 10px;
		}
		.result-item-text{
			color: #333;
			font-size:14px;
			flex: 1;
		}
		.result-item-score{
			font-size: 12px;
			color: #999;
		}
	}
}