.notice-header {
  padding: 30px;
  h2{
    font-size: 16px;
    margin-bottom: 20px;
    button {
      float: right;
    }
  }
  .ant-table-thead > tr > th {
    background: #f1f4f9;
    &:last-child {
      width: 700px;
    }
  }
  .ant-table-tbody > tr:hover > td {
    background: none;
  }
}