.user-info {
  .basic-info {
    color: #666;
    font-size: 12px;
    margin-top: 15px;
    .ant-row {
      margin-bottom: 30px;
    }
    .basic-col {
      text-align: right;
    }
    .icon-tabianji {
      font-size: 16px;
      color: #2c9f66;
      margin-left: 10px;
      cursor: pointer;
    }
  }
  .bank-info {
    .bank-list {
      padding: 0 10px;
      min-height: 120px;
      box-sizing: border-box;
      border-bottom: 1px solid #eceff0;
      &:hover {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        .bank-btn {
          display: block;
        }
      }
    }
    .bank-add {
      height: 120px;
      padding: 0 10px;
      line-height: 120px;
      box-sizing: border-box;
      border-bottom: 1px solid #eceff0;
      display: flex;
      align-items: center;
      .icon-xinzeng01 {
        cursor: pointer;
        font-size: 30px;
        color: #d5d5d5;
      }
      .bank-add-word {
        color: #666;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .bank-btn {
      right: 0;
      top: 50%;
      display: none;
      text-align: right;
      position: absolute;
      transform: translateY(-50%);
      button {
        margin-left: 10px;
      }
    }
    .bank-account {
      margin: 25px 0 0 0;
    }
    .bank-des {
      margin: 15px 0;
    }
    .bank-name {
      font-size: 16px;
    }
    .bank-number {
      margin-left: 28px;
    }
    .bank-default {
      height: 20px;
      padding: 0 5px;
      color: #2c9f66;
      line-height: 18px;
      margin-left: 10px;
      border-radius: 4px;
      font-style: normal;
      border: 1px solid #2c9f66;
    }
    .bank-des {
      color: #666;
      font-size: 12px;
      line-height: 25px;
    }
  }
  .ant-form-item {
    margin-bottom: 0;
  }
  .basic-btn {
    text-align: right;
    margin-top: 20px;
    button {
      margin-left: 10px;
    }
  }
  .country-code {
    margin-top: 20px;
    .ant-form-item-control {
      line-height: 1;
    }
  }
  .country-code-btn {
    text-align: right;
  }

  .security-setting {
    h1 {
      font-size: 14px;
      color: #333333;
      margin-bottom: 8px;
    }
    .validate_content {
      font-size: 12px;
      margin-bottom: 2px;
      line-height: 18px;
      color: #666666;
    }
    .security-setting-item {
      display: inline-block;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      background-color: #fafafa;
      padding: 16px 24px;
      margin-top: 16px;
    }
    .security-setting-title {
      display: flex;
      align-items: center;
      h2 {
        font-size: 12px;
        margin-right: 8px;
        margin-bottom: 0;
      }
      .security-setting-btn {
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 0 6px;
      }
      .active {
        color: #00a3fe;
        border-color: #00a3fe;
      }
    }
    .userInfo-setting-phone {
      display: flex;
      margin: 16px 0;
      .split {
        display: inline-block;
        border-right: 1px solid #e8e8e8;
        margin: 0 24px;
        height: 32px;
      }
    }
    .userInfo-setting-phone-item {
      display: flex;
      align-items: center;
      img {
        width: 28px;
        height: 28px;
      }
      .content {
        margin-left: 12px;
        font-size: 12px;
        h3 {
          font-size: 12px;
        }
        p {
          color: #666666;
          margin-bottom: 0;
        }
      }
    }
  }
}
