.city-wrap{
    .ant-select{
        width: 30%;
    }
    .ant-select:nth-child(2), .ant-select:nth-child(3){
        margin-left: 5%;
    }
    .ant-select-selection-selected-value{
        padding: 0;
    }
    .ant-select-arrow{
        right: 7px;
    }
}