.form-field{
	// width: 260px;
}
.form-field-group{
	.tw-btn{
		height: 26px;
		line-height: 26px;
		font-size: 12px;
	}
	.group-row{
		display: flex;
		&:not(:first-child){
			margin-top: 10px;
		}
		.icon-delete-outline{
			width: 30px;
			padding-left: 10px;
			height: 32px;
			line-height: 32px;
			cursor: pointer;
		}
	}
}
.ant-form-item-control-wrapper {
    word-break: break-all;
    label {
        white-space: normal;
    }
}