.step-panel-old{
  width: 840px;
  margin: 30px auto;
  min-height: 200px;
  border-radius: 4px;
  border: 1px solid #00a3fe;
.step-tit{
  height: 48px;
  color: #fff;
  font-size: 14px;
  line-height: 48px;
  padding-left: 20px;
}
.step-body{
  padding: 15px 30px;
}
.step-title{
  height: 45px;
  color: #000;
  font-size: 14px;
  line-height: 45px;
}
.step-data{
  &:after{
      clear: both;
      content: '';
      display: block;
  }
}
.step-row{
  border-bottom: 1px dotted #eee;
  &:after{
      clear: both;
      content: '';
      display: block;
  }
}
.step-row-full{
  width: 100%;
  float: left;
  &:after{
      clear: both;
      content: '';
      display: block;
  }
}
.step-row-half{
  width: 50%;
  float: left;
  &:after{
      clear: both;
      content: '';
      display: block;
  }
}
.step-row-label{
  width: 35%;
  float: left;
  color: #999;
  line-height: 1.5;
  padding: 10px 0;
  text-align: right;
  overflow: hidden;
  word-wrap: break-word;
}
.step-row-label-lg{
  width: 67.5%;
}
.step-row-label-sm{
  width: 17.5%;
}
.step-row-value{
  width: 65%;
  float: left;
  padding: 10px 0 10px 20px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
  img{
      height: 60px;
      padding: 5px;
      border-radius: 5%;
      border: 1px dashed #d5d5d5;
  }
}
.step-row-value-lg{
  width: 82.5%;
}
.step-row-value-sm{
  width: 32.5%;
}
.step-description-tit{
  height: 45px;
  color: #000;
  font-size: 14px;
  line-height: 45px;
}
.step-description-con{
  color: #999;
  padding: 0 30px;
  overflow: hidden;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: pre-wrap;
  box-sizing: border-box;
}
}