.app-page-wrap {
  width: 100%;
  height: 100%;
  min-width: 1335px;
}
.app-page {
  width: 100%;
  height: 100%;
  min-width: 1335px;
  position: relative;
}
.app-page .app-wrapper {
  height: 100%;
  width: 100%;
  padding: 92px 20px 20px 270px;
  background: #f1f4f9;
}
.app-page .page-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  min-width: 1045px;
  border-radius: 4px;
  position: relative;
  background: #fff;
  overflow-x: hidden;
}
.app-page .page-container .page {
  width: 100%;
  padding: 30px;
  min-height: 100%;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
.app-page .task {
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}
.app-page .notice {
  vertical-align: middle;
  padding-right: 20px;
  border-right: 1px solid #e5e5e5;
  margin-right: 20px;
}
.app-page .notice .ant-badge {
  cursor: pointer;
}
.app-page .notice i {
  position: relative;
  top: -2px;
  font-size: 18px;
  color: #a3a3a3;
}
.app-page .notice i:hover {
  color: #757575;
}
.app-header {
  top: 0;
  left: 0;
  position: fixed;
  height: 72px;
  width: 100%;
  background: #fff;
  padding-left: 270px;
  font-size: 16px;
  color: #333;
  line-height: 72px;
  z-index: 2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}
.app-header .header-select {
  display: block;
  float: right;
  margin-right: 21px;
  position: relative;
}
.app-header .header-select .ant-select {
  min-width: 130px;
}
.app-header .header-select .header-select-menu {
  width: 280px;
  left: auto !important;
  right: 0;
}
.app-header .header-select .account-select-label {
  color: #999;
  font-size: 16px;
}
.app-header .header-select .account-select-label .iconfont {
  font-size: 18px;
  margin-right: 5px;
}
.app-header .header-select .ant-select-dropdown-menu {
  max-height: 200px;
}
.app-header .header-select .ant-select-dropdown-menu-item {
  color: #999;
  line-height: 32px;
  height: 32px;
  padding: 0 10px;
}
.app-header .header-select .account-type {
  padding: 1px 4px;
  border-radius: 4px;
  margin-right: 15px;
  border: 1px solid #666;
  color: #666;
}
.app-header .header-select .ant-select-dropdown-menu-item-selected {
  font-weight: normal;
}
.app-header .header-select .ant-select-selection {
  border: none;
  outline: none;
}
.app-header .header-select .ant-select-selection:focus {
  box-shadow: none;
}
.app-notice {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 386px;
  height: 292px;
  border-radius: 2px;
  background-color: #f9f9f9;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  color: #666666;
  font-size: 14px;
  z-index: 1;
}
.app-notice .header {
  padding: 17px 25px;
  color: #fff;
}
.app-notice .header i {
  float: right;
  cursor: pointer;
}
.app-notice .content {
  padding: 25px;
  height: 192px;
  overflow: auto;
}
.app-notice .content div:first-child {
  margin-bottom: 20px;
  text-align: center;
}
.app-notice .footer {
  text-align: right;
  border-top: 1px solid #ededed;
  padding: 10px;
}
