@import '~less/variables.less';

.container {
  padding: 30px;
  display: flex;
}
.label {
  width: 30%;
  text-align: right;
  padding: 3px @padding-base 0 0;
}
.control {
  flex: 1
}

.submit-button {
  margin-right: 10px;
}