@import '~less/variables.less';

.dropdown {
    width: 100%;
}

label {
    font-size: 12px;
}

.control-width {
    width: 100%;
}

.label-tips {
    margin-left: 5px;
    i {
      color: @red;
    }
  }
  
  .tip-conent{
    white-space: nowrap;
  }
 