.time-zone {
  margin-left: 10px;
}

.pop-icon {
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 15px;
  &>span {
    margin-right: 8px;
  }
  &:hover{
    text-decoration: none;
  }
  i{
    margin-right: 5px;
  }
  cursor: pointer;
}

.module-header {
  font-size: 16px;
  margin-bottom: 10px;
}

.formItem {
  display: flex;
}
.formTable {
  tr:nth-child(even) td{
    padding-bottom: 20px;
  }
}
.formTable td {
  padding: 5px 0;
  &.formLabel {
    padding-right: 15px;
  }
}

.formLabel {
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: 1px;
  font-size: 13px;
}

.formControl {
  display: flex;
  align-items: center;
  height: 100%;
}
.question {
  margin-left: 5px;
  color: #919eab;
}