@import '~less/variables';
.modal-body {
  padding-top: 0;
  padding-bottom: 5px;
}

.label {
  font-size: 12px;
  font-weight: normal;
  padding-top: 9px;
  padding-right: 0;
}

.dropdown {
  width: 100%;
  // display: inline-block;
}

.controlRelative {
  position: relative;
}

.accountInfoForm {
  width: 100%;
}

.customer-tips {
  padding-top: 7.5px;
}

.tips-content {
  width: 250px;
}

.tab {
  margin-bottom: 20px;
}

.top-fold {
  width: 30px;
  height: 30px;
  margin-top: -18px;
  margin-left: 85%;
  position: absolute;
  color: @main-color;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.showExtraInfo {
  cursor: pointer;
  margin-left: 80%;
}

.customer-right-side-tip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  font-size: 14px;
  padding-top: 0;
  color: @main-color;
}
.search-right-side-tip {
  line-height: 30px;
}

.icon {
  margin-left: 6px;
}

.modalBody {
  :global {
    .lean-modal-body {
      padding-bottom: 0;
    }
  }
}

.overlayLimit {
  max-width: 300px;
}
.hidden_label {
  visibility: hidden;
}
