.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ffffff;
    padding: 0 30px;
    justify-content: center;
}
.margin {
    text-align: center;
    margin: 20px 0;
}