@import '~less/variables.less';

.my-dashboard {
  .dashboard-innerBox {
    flex-wrap: wrap;
    display: flex;
  }
  
  .button {
    margin-left: 10px;
    padding: 5px 20px;
  }

  .load {
    text-align: center;
    span {
      color: #999;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
