.cycle_setting_modal {
  width: 520px !important;
}
.explain {
  font-size: 13px;
  color: #637381;
  margin-top: 10px;
  p {
    margin-bottom: 0;
    line-height: 20px;
  }
}
.notice_title {
  font-size: 12px;
  font-weight: normal;
  display: flex;
  max-width: 200px;
  .icon {
    color: #f5bd37;
    margin-right: 8px;
    margin-top: 3px;
  }
}
.notice_footer {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  button {
    margin-right: 5px;
  }
}
