@import '~less/variables.less';

@imageSize: 50px;

.container {
  background-color: rgba(0,0,0,.7);
  height: @imageSize;
  width: @imageSize;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
  img {
    height: @imageSize;
    width: @imageSize;
  }
}
