.deposit-container{
    .deposit-notice{
        margin-bottom: 25px;
        border-radius: 4px;
        padding: 15px 0 20px 15px;
        background-color: #fef0ef;
        border: solid 1px #fcdbd9;
    }
    .deposit-pay-list{
        float: left;
        width: 169px;
        height: 56px;
        padding: 0 10px;
        cursor: pointer;
        font-size: 14px;
        line-height: 56px;
        border-radius: 2px;
        position: relative;
        text-align: center;
        margin-right: 15px;
        margin-bottom: 15px;
        border: solid 1px #d5d5d5;
        background-color: #ffffff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .pay-active{
        color: #2c9f66;
        border: solid 2px #2c9f66;
        .pay-right-top{
            display: block;
        }
    }
    .pay-right-top{
        top: 0;
        right: 0;
        display: none;
        position: absolute;
        border: 10px solid #2c9f66;
        border-left-color: #fff;
        border-bottom-color: #fff;
        width: 0;
        height: 0;
        .iconfont{
            top: -11px;
            right: -11px;
            color: #fff;
            font-size: 12px;
            position: absolute;
        }
    }
    .deposit-max-min{
        color: #666;
        padding-top: 15px;
        padding-left: 10px;
    }
    .deposit-exchange{
        color: #999;
        line-height: 1.1;
        position: absolute;
    }
    .icon_announcement{
        font-size: 14px;
        color: #dd745b;
    }
    .deposit-notice-tit{
        color: #333;
        font-size: 14px;
        margin-left: 10px;
    }
    .deposit-notice-con{
        font-size: 12px;
        color: #666666;
        margin-top: 12px;
        margin-left: 26px;
    }
    .deposit-detail{
        width: 480px;
        .ant-row{
            margin-bottom: 20px;
        }
        .ant-card{
            border-radius: 4px;
            border: 1px solid #2c9f66;
        }
        .ant-card-head{
            background: #2c9f66;
            .ant-card-head-title{
                color: #fff;
            }
        }
    }
    .deposit-detail-btn{
        text-align: right;
        margin-top: 30px;
        button{
            margin-left: 10px;
        }
    }
}