.telegraphic{
	.text {
		color: #c5c5c5;
		font-size: 12px;
		margin-top: 5px; 
	}
	.profile{
		padding: 30px;
	}
	.dialogBtn{
		margin-top: 30px;
	}
	.ant-modal-body{
		padding: 30px;
	}
	.ant-modal-footer{
		padding: 20px;
	}
	.ant-select-selection{
		height: 40px;
		.ant-select-selection__rendered {
			line-height: 40px;
		}
	}
	.content {
		padding: 20px;
	}
	.flex {
		display: flex;
		flex-wrap: wrap;
		>div{
			flex-basis: 46%;
			margin: 10px 20px;
		}
	}
	.btn {
		margin-top: 10px;
    margin-left: 20px;
	}
	.account-info{
		padding: 15px 40px;
		p{
			line-height: 30px;
			span{
				display: inline-block;
				width: 50%;
				color: #999;
			}
			:last-child{
				text-align: right;
				color: #333;
			}
		}
		
	}
	.label{
		line-height: 30px;
		margin-top: 10px;
		font-size: 14px;
	}
	.input{
		height: 40px;
	}
	.bank-info {
		list-style: none;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		li {
			flex-basis: 50%;
			margin-bottom: 15px;
		}
	}
}
.telegraphic-empty {
	font-size: 16px;
	text-align: center;
	margin-top: 300px;
	img {
		margin-right: 10px;
	}
}