// 蓝色列表
@blue-1: #3079ed;
@blue-2: #4285f4;
@blue-3: #5490f5;
@blue-4: #659bf6;
@blue-5: #82aef6;

// 红色列表
@red-1: #ce1f20;
@red-2: #df3031;
@red-3: #e24445;
@red-4: #e45657;
@red-5: #e97778;

// 绿色列表
@green-1: #329c37;
@green-2: #42b549;
@green-3: #55bc5b;
@green-4: #66c26b;
@green-5: #84ce88;

// 黄色列表
@yellow-1: #efb01a;
@yellow-2: #f5bd37;
@yellow-3: #f6c34b;
@yellow-4: #f6c95d;
@yellow-5: #f7d37d;

// 灰色列表
@grey-1: #303842;
@grey-2: #637381;
@grey-3: #919eab;
@grey-4: #dfe3e8;
@grey-5: #fafafa;

@white: #ffffff;

// 青色列表
@cyan-1: #099694;
@cyan-2: #00a8a6;
@cyan-3: #1fb2b0;
@cyan-4: #53c4c2;
@cyan-5: #75cfce;