@import '~less/fn.less';

.Root {
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    .rem(30,left);
    font-size: 15px;
    transform: translateY(-50%);

}

[data-dpr="2"] .title {
    font-size: 30px;
}

[data-dpr="3"] .title {
    font-size: 45px;
}

.arrow {
    position: absolute;
    .rem-size(120,100);
    .rem(100,line-height);
    .rem(30,padding-right);
    top: 0;
    right: 0;
    text-decoration: none;
    text-align: right;
    background-image: url("images/rightArrow.png");
    background-repeat: no-repeat;
    background-position: right 0.4rem bottom 50%;   //  因为右边距是30px，所以这里写0.4rem
    .rem(15,background-size);
}

