@import '~less/variables.less';
.select-item {
  margin-bottom: 15px;
  margin-left: -20px;
}
.title {
  font-size: 16px;
  font-weight: 500;
  // line-height: 2;
  margin-bottom: 5px;
  text-align: left;
  color: @text-color-dark;
  vertical-align: middle;
  margin-left: 8px;
}
.content {
  margin-left: 21px;
  font-size: 14px;
  line-height: 1.7;
}