@import '~less/fn.less';

.item-wrap{
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    .item-top{
        width: 100%;
        .rem-height(90);
        font-size: 14px;
        .rem-padding(0, 30);
        border-bottom: 1px solid rgb(237, 237, 237);
    }
    .item-bottom{
        width: 100%;
        .rem-height(73);
        .rem-padding(0, 30);
    }
    .item-icon{
        .rem-width(39);
    }
    .item-account{
        font-size: 18px;
        font-weight: 400;
    }
    .item-bottom-tit{
        font-size: 13px;
        color: rgb(147,147,147);
        span{
            .rem-padding-f(0,30,0,10);
            display: inline-block;
            color: rgb(62,62,62);
        }
    }
}