@import "~less/variables.less";

.export {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.export-list {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(4, 0, 0, 0.12);
  border: solid 1px #d0d0d0;
  padding: 6px 0;
  list-style: none;
  white-space: nowrap;
  margin-left: 5px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 12px;
    height: 26px;
    padding: 0 30px;

    &:hover {
      color: #fff;
      background-color: @main-color;
      text-decoration: none;
    }
  }
}