@import '~less/sc/variables.less';

.form_container {
  margin: 15px;
}
.rem-group {
  display: flex;
  padding-top: 9px;
}
.allowed_check_box {
  width: 80% !important;
}
.leverage_select {
  display: flex;
  margin: 15px 0;
  label {
    margin-top: 10px;
    margin-right: 5px;
  }
}
.select_field_ss {
  width: 300px !important;
}

.tab {
  margin-left: 10%;
  margin-bottom: 50px;
  // width: 50%;
}

.tab_content {
  padding-top: 20px;
}
.account_setting {
  margin-top: 30px;
  :global(.form-item-label) {
    width: 10% !important;
  }
}
.switch_style {
  display: flex;
  align-items: center;
  .switch_label {
    margin-right: 10px;
  }
}
.required {
  position: relative;
  &:before {
    content: '*';
    color: red;
    position: absolute;
    left: -6px;
    top: 4px;
  }
}
.account_category {
  padding-left: 10%;
}
