.currency {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
}
.rem-group {
  display: flex;
  padding-top: 7px;
}
.form_label {
  width: 16% !important;
}
.languageItem {
  .languageItemControl {
    width: 100% !important;
    :global(.tab-nav) {
      margin-bottom: 15px;
      li {
        a {
          font-size: 12px;
        }
      }
    }
  }
}
