.tabs {
  padding: 0 20px 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe3e8;
  :global(.lean-menu-horizontal) {
    line-height: 40px;
  }
  :global(.lean-menu-item-selected) {
    box-shadow: none !important;
  }
}