.input-tag-input {
  :global(.form-control) {
    float: left;
    width: inherit;
  }
  :global(.btn) {
    margin-left: 10px;
  }
}

.clearfix:after {
  content:"";
  display: block;
  clear:both;
}

.input-tag-span {
  margin: 20px 20px 0 0;
  float: left;
  border: 1px solid #1fb5ad;
  border-radius: 4px;
  padding-left: 10px;
  a {
    display: inline-block;
    color: #fff;
    padding: 3px 5px;
    margin-left: 10px;
    font-size: 1.5em;
    background-color: #1fb5ad; 
  }
  a:hover {
    text-decoration: none;
  }
}

.input-tag-error {
  color: red;
}