.container {
  width: 760px;
  margin: 35px auto;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: -0.1px 2px 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #dddddd;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  background-color: #00a8a6;
  font-size: 16px;
  color: #fff;
}

.content {
  padding: 39px 29px 99px;
}

.summary {
  padding-bottom: 48px;
  margin-bottom: 17px;
  border-bottom: 1px solid #eceff0;
  line-height: normal;

  .title {
    font-size: 16px;
    color: #333;
    padding-bottom: 14px;
  }

  .tips {
    font-size: 12px;
    color: #999;
  }
}

.email {
  padding: 29px 0 17px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;

  .email-tips {
    font-size: 14px;
    color: #999;
  }

  :global(.form-control) {
    width: 260px;
    margin: 0 14px;
  }
}

.questions {
  margin: 0;
  list-style: none;
  border-radius: 4px;
  background-color: #fafafa;
  border: solid 1px #eceff0;
  padding: 34px 21px;
  line-height: normal;
  color: #333;

  .question {
    font-size: 14px;
    color: #333;
    line-height: 2;
  }

  .answers {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 15px;
    flex-wrap: wrap;

    :global(.radio) {
      margin-right: 39px;
      margin-top: 5px;
    }
  }
}
