@import "~less/sc/variables.less";

.control {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid @border-color;
  border-radius: 4px;
  height: 30px;
  padding: 0 12px;;
  font-size: 12px;
  line-height: normal;
  color: @base-text-color;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 0;

  &.disabled, 
  &.disabled:hover {
    background-color: #eee;
    border-color: #ccc;
    cursor: not-allowed;
  }

  &:hover {
    border-color: @brand-primary;
  }

  &.error, 
  &.error:hover {
    border-color: @state-danger;
  }
}

.control-text {
  margin-left: 5px;
  font-weight: normal;
}

.control-input {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

.item-list {
  padding-top: 10px;
}

// Image CSS
.image-value {
  display: inline-block;
  width: 89px;
  height: 89px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-right: 10px;

  img {
    max-width: 100%;
  }

  .wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
  }

  .preview-btn,
  .remove-btn {
    margin: 0 5px;
    font-size: 14px;
    color: #fff;
  }

  .preview-btn:hover {
    color: @brand-primary;
  }

  .remove-btn:hover {
    color: @state-danger;
  }

  &:hover {
    border-color: @brand-primary;
    
    .wrapper .actions{
      visibility: visible;
    }
  }
}

// Image uploading
.image-uploading {
  border: 1px dashed #ddd;
  width: 89px;
  height: 89px;
  border-radius: 4px;
  background-color: #fafafa;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;

  .uploading-text {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #999;
  }

  &:hover {

    .abort-btn {
      visibility: visible;
    }
  }
}

// File uploading
.file-uploading {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 2px solid #fafafa;

  .uploading-text {
    color: #999;
  }

  .abort-btn {
    display: flex;
    height: 100%;
    align-items: center;
    top: 0;
  }

  .progress {
    bottom: -2px;
  }

  &:hover {
    
    .abort-btn {
      visibility: visible;
    }
  }
}

.abort-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 12px;
  color: #999;
  visibility: hidden;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: @state-success;
}

.image-control {
  border: 1px dashed #ddd;
  width: 89px;
  height: 89px;
  border-radius: 4px;
  background-color: #fafafa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  .image-control-icon {
    color: #999;
    font-size: 24px;
  }
}

// File CSS
.file-value {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;

  .file-icon {
    margin-right: 5px;
  }

  .file-link {
    flex: 1;
  }

  .remove-btn {
    color: #999;

    &:hover {
      color: @state-danger;
    }
  }
}