.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
}
.ellipsis_small {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
}
.btn-right {
  margin-left: 5px;
}
.action-area {
  text-align: right;
  .operate_btn {
    margin-top: 16px;
  }
}

.options {
  min-width: 100px;
}
.operate_td {
  color: #099694;
  span {
    margin-right: 4px;
    cursor: pointer;
  }
}
.min_width_55 {
  min-width: 55px;
}
