@import '~less/variables.less';

@search-input-height: 30px;

.container {
  position: relative;
  .error {
    border-color: @red;
  }
}

.list {
  position: absolute;
  top: 100%;
  display: none;
  &.show {
    display: block;
  }
}

