.container {
  width: 100%;
  margin-top: 15px;
}
.started-page-title {
  font-size: 20px;
}
.start-page-content {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #eee;
  .preview-content {
    display: inline-flex;
    width: 30%;
    height: 700px;
    flex-direction: column;
    .phone-preview {
      width: 302px;
      margin: 30px auto;
      flex: 1 0 auto;
      .iphone {
        background-image: url('../../../../../../../../assets/images/iphone.png');
        background-size: cover;
        border-radius: 20px;
        height: 542px;
      }
      .iphone-previve {
        height: 370px;
        margin: 87px 0 0 46px;
        width: 210px;
      }
    }
  }
  .upload-content {
    display: inline-flex;
    width: 70%;
    height: 720px;
    border-left: 1px solid #eee;
    flex-direction: column;
    .upload-header {
      padding: 15px 0 0 15px;
      width: 100%;
      flex: 0 0 auto;
      .right-upload-btn {
        position: relative;
        margin-left:10px;
        display: inline-block;
      }
      .left-tips {
        font-size: 20px;
        width: 75%;
        display: inline-block;
      }
    }
    .upload-container {
      flex: 1 0 auto;
      .left-container {
        display: inline-flex;
        margin-left:4%;
        width: 46%;
        flex-direction: column;
      }
      .right-container {
        display: inline-flex;
        width: 50%;
        flex-direction: column;
      }
      .preview-image-lg {
        width: 1242px/4;
        height: 2208px/4;
        flex: 1 0 auto;
      }
      .preview-image-sm {
        width: 640px/4;
        height: 960px/4;
        flex: 1 0 auto;
      }
      .size-tag{
        flex: 0 0 auto;
        font-size: 16px;
      }
    }
  }
}

.started-page-progress {
  font-size: 20px;
  padding: 15px 0 0 15px;
  height: 20px;
  flex: 0 0 auto;
  line-height: 20px;
}

.left{
  margin-left: 10px;
}