@import '~less/fn.less';
.popup{
    border-radius: 7px;
    .rem-padding(15, 25);
    .rem(300px, max-width);
    white-space: normal;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, .6);
}