.add-workbench {
  margin-right: 10px;
  .add-btn {
    height: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .add-text {
    font-weight: bold;
    font-size: 30px;
  }
}
.check-list {
  ul {
    list-style-type: none;
    -webkit-padding-start: 0;
  }
  .item {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 6px;
    background-color: #f1f2f7;
    &:hover {
      background-color: #e0e2ec;
    }
  }
  :global(.check-list-font) {
    float: right;
    font-size: 20px;
    color: #b0b4c2;
  }
}