@import '../OpportunityDetail.less';
.form{
  .block-form{
    display: block;
    label.label {
        padding: 0px;
        margin-bottom: 0px;
        position: relative;
        top: -3px;
    }
    label.label, div.control {
        width: auto;
        text-align: left;
    }
    &:last-child{
        margin-bottom: 0;
    }
    .textarea-col{
      padding: 0;
      width: 100%;
    }
    .textarea {
      width: 420px;
      height: 66px;
    }
  }
}

.foot-bottom {
  button {
    margin-right: 10px;
  }
}