@import '~less/fn.less';
@textColor: #6ec3fb;
@centerWidth: (650/750*100)+"%";
.mock-acct-success {
  .content {
    width: 100%;
    height: 100%;
    .rem(6px, border-radius);
    background: #fff;
    border-top: 0.16rem solid #27D3BC;
    .top {
      width: max-content;
      height: max-content;
      .rem(100px, padding-left);
      margin: 0.8267rem auto;
      position: relative;
      .description {
        .rem(400px,max-width)
      }
    }
    .center {
      .rem(630px, width);
      margin: 0 auto;
      .rem(50px, margin-bottom);
    }
    .bottom {
      width: max-content;
      margin: 0 auto;
      .rem( 20px , margin-bottom );
    }
  }
  .center-item{
      .rem-padding(40, 0);
  }
  .center-item-line{
      border-top: 1px solid #E1E1E1;
      border-bottom: 1px solid #E1E1E1;
  }
  .center-tit{
      color: #3E3E3E;
      font-size: 15px;
      .rem(17, margin-left);
  }
  .info-li{
      .rem(40, margin-top);
      overflow: hidden;
  }
  .info-left{
      float: left;
      font-size: 15px;
      color: #939393;
  }
  .info-img-label{
    font-size: 15px;
    color: #939393;
    .rem(30, margin-bottom);
  }
  .info-text-right{
      float: right;
      font-size: 15px;
      color: #3E3E3E;
  }
}

.mock-acct-success {
  .top {
    >p:nth-of-type(1) {
      font-size: 18px;
      color: #666;
      .rem(2px, margin-bottom);
    }
    >p:nth-of-type(2) {
      font-size: 12px;
      color: #B7B7B7;
    }
    >p:nth-of-type(3) {
      font-size: 35px;
      position: absolute;
      top: 0;
      left: 0;
      color: #27D3BC;
    }
  }
}

[data-dpr="2"] {
  .mock-acct-success {
    .top {
      >p:nth-of-type(1) {
        font-size: 28px;
      }
      >p:nth-of-type(2) {
        font-size: 24px;
      }
      >p:nth-of-type(3) {
        font-size: 70px;
      }
    }
  }
}

[data-dpr="3"] {
  .mock-acct-success {
    .top {
      >p:nth-of-type(1) {
        font-size: 42px;
      }
      >p:nth-of-type(2) {
        font-size: 36px;
      }
      >p:nth-of-type(3) {
        font-size: 105px;
      }
    }
  }
}