.list{
    display: flex;
    margin: 20px 0;
    padding: 20px 0;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    background: #fff;
    border: 1px solid #dfe3e8;
    border-radius: 4px;
    p{
        color: #637381;
    }
}