.add-form-item {
  display: flex;
  margin: 10px 0;
  line-height: 30px;
  label {
    width: 120px;
  }
  label + div {
    width: 100%;
  }
  &-half {
    display: flex;
    width: 100%;
    .id-type {
      width: 285px;
    }
    .id-num {
      width: 100%;
    }
  }
}
.restric-list {
  .wrp {
    display: block;
    margin-left: 22px;
  }
  :global(.lean-checkbox-wrapper) {
    display: block !important;
  }
  :global(.lean-checkbox-wrapper+.lean-checkbox-wrapper) {
    margin-left: 0;
  }
}

