.body,
.warning {
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  width: 430px;
  margin: 30px auto 0;
}

.warning {
  background-color: #919eab;
  color: #fff;
  margin-top: 30px;
}
