@import "~less/variables.less";

.container {
  width: 1000px;
  margin: 0 auto;
  color: black;
  font-variant-ligatures: none;
  font-family: "Calibri";
  padding: 15px;
  background-color: #fff;
}

.content {
  overflow-y: auto;
}

.title {
  font-size: 22px;
  text-align: center;
  padding: 10px;
  margin: 0;
  border-bottom: 1.1px solid #ddd;
}

.field {
  display: flex;
  margin-top: 10px;
}

.label {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.value {
  font-size: 12px;
  padding-left: 10px;
}