.@{prefix}-time-picker {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  outline: none;
  transition: opacity .3s;
  width: 128px;
  .@{prefix}-time-picker-input {
    &:hover {
      border: solid 1px @@main-color-2;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px fade(@@main-color-2, 40);
      border: solid 1px @@main-color-2;
    }
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 13px;
    line-height: 1.5;
    color: #303842;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
  }
  .@{prefix}-time-picker-icon {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 14px;
    height: 14px;
    line-height: 14px;
    right: 11px;
    color: rgba(0, 0, 0, 0.25);
    top: 50%;
    margin-top: -7px;
    &:after {
      content: "\e94e";
      font-family: 'LeanWork-Icons' !important;
      color: rgba(0, 0, 0, 0.25);
      display: block;
      line-height: 1;
  }
  }
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.@{prefix}-time-picker-panel {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1050;
  position: absolute;
  top: 38px!important;
  .@{prefix}-time-picker-panel-inner {
    position: relative;
    outline: none;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(48, 56, 66, 0.04);
    background-clip: padding-box;
    overflow: hidden;
    left: -2px;
    border: solid 1px #dfe3e8;
  }
  .@{prefix}-time-picker-panel-input-wrap {
    display: none;
    position: relative;
    padding: 7px 2px 7px 12px;
    border-bottom: 1px solid #e8e8e8;
    .@{prefix}-time-picker-panel-input {
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      cursor: auto;
      outline: 0;
    }
    .@{prefix}-time-picker-panel-clear-btn {
      position: absolute;
      right: 8px;
      cursor: pointer;
      overflow: hidden;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      top: 7px;
      margin: 0;
      &:after {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.25);
        display: inline-block;
        line-height: 1;
        width: 20px;
        transition: color 0.3s ease;
        font-family: 'LeanWork-Icons' !important;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e928";
      }
    }
  }
  .@{prefix}-time-picker-panel-combobox {
    width: 168px;
    zoom: 1;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
      visibility: hidden;
      font-size: 0;
      height: 0;
    }
    .@{prefix}-time-picker-panel-select {
      &:hover {
        overflow-y: auto;
      }
      float: left;
      font-size: 13px;
      border-left: 1px solid #dfe3e8;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 56px;
      overflow: hidden;
      position: relative;
      max-height: 192px;
      ul {
        list-style: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0 0 160px;
        width: 100%;
      }
      li {
        list-style: none;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0;
        padding: 0 0 0 12px;
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-align: left;
        cursor: pointer;
        user-select: none;
        color: #637381;
        transition: background 0.3s;
        &.@{prefix}-time-picker-panel-select-option-selected {
          background: fade(@@main-color-2, 8);
          font-weight: bold;
          color: #303842;
      }
      &:hover {
        background: fade(@@main-color-2, 8);
      }
    }
    }
    .@{prefix}-time-picker-panel-select:first-child {
      border-left: 0;
      margin-left: 0;
    }
    .@{prefix}-time-picker-panel-select:last-child {
      border-right: 0;
    }
  }
  .@{prefix}-panel-addon {
    padding: 8px 16px;
    background-color: #fafafa;
    border-top: solid 1px #dfe3e8;
    &:before,&:after {
      display: table;
      content: "";
      clear: both;
      zoom: 1;
    }
    >div {
      float: right;
    }
    .confirm-btn {
      margin-left: 8px;
    }
  }
}

.lean-time-picker-panel-column-2 {
  width: 112px;
}
.@{prefix}-time-picker-panel-narrow .@{prefix}-time-picker-panel-input-wrap {
  max-width: 112px;
}