@import '~less/variables.less';

.login {
  .login-btn-box {
    margin-bottom: 0;
  }
  .left-login-btn {
    margin: 18px 0 25px;
  }
}

.submit-btn {
  width: 100%;
  height: 40px;
  font-size: 14px;
  margin-bottom: 10px;
}
.auth_tip {
  height: 40px;
}
.loginFormItem {
  margin-bottom: 14px;
  :global(.lean-form-label) {
    margin-bottom: 0;
    &.centerLable {
      margin-bottom: 6px;
    }
  }
}

.rightLoginFormItem {
  margin-bottom: 25px;
}

.title {
  text-align: center;
  color: #343f4b;
  font-size: 20px;
  margin-bottom: 36px;
}

.rightTitle {
  font-size: 24px;
  color: #343f4b;
  font-weight: 300;
}

.logo {
  max-height: 42px;
  max-width: 160px;
}

.remember-box {
  display: flex;
  align-items: center;
}

.remember {
  flex: 1;
}

.forget-passowrd {
  font-size: 13px;
}

.broswer-download {
  color: #8a6d3b;
  text-decoration: underline;
  > img {
    margin: 0 5px;
    vertical-align: bottom;
  }
}

.browser-alert {
  text-align: left;
  :global(.lean-alert-icon) {
    display: none;
  }
}