@import '~less/variables.less';

@colorPickerItemSize: 18px;

.container {
  display: flex;
  width: @colorPickerItemSize * 8 + 6px;
  height: @colorPickerItemSize * 5 + 6px;
  flex-wrap: wrap;
  padding: 2px;
  border: 1px solid @border-color;
  border-radius: 2px;
}

.item {
  width: @colorPickerItemSize;
  height: @colorPickerItemSize;
  padding: 1px;
  box-sizing: border-box;
  position: relative;
  &:hover,
  &.active {
    border: 1px solid @border-color;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 1px solid @white;
      z-index: 2;
    }
  }
}


