.user-selector-pick {
  :global(.lean-picklist-button) {
    width: 100%;
    height: auto;
    min-height: 32px;
  }
  :global(.lean-picklist-tag) {
    word-break: break-all;
    height: auto;
  }
}
