@import '~less/variables.less';

.td {
  font-size: 13px;
  color: #637381;
}

.td-title {
  cursor: pointer;
  font-size: 13px;
  color: #637381;
}

.td-unread {
  font-size: 13px;
  color: #303842;
}

.td-unread-title {
  cursor: pointer;
  font-size: 13px;
}