@import '~less/variables.less';

.container {
  text-align: center;
  line-height: 30px;
}

.status {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 25px;
}

.success, .fail {
  margin-right: 5px;
}

.success {
  color: @state-success-text;
}

.fail {
  color: @state-danger-text;
}

.submit-box {
  margin-top: 15px;
}
