.alert {
  padding: @alert-padding;
  border-radius: @alert-border-radius;
  font-size: 14px;
}

.alert-danger {
  background-color: @alert-danger-bg;
  color: @alert-danger-text;
}

.alert-success {
  background-color: @alert-success-bg;
  color: @alert-success-text;
}

.alert-warning {
  background-color: @alert-warning-bg;
  color: @alert-warning-text;
}