// .card-panel-enter {
//   .card-panel {
//     right: -903px;
//   }
// }

// .card-panel-enter.card-panel-enter-active {
//   .card-panel {
//     right: 0;
//     transition: right .5s ease-in-out;
//   }
// }

// .card-panel-leave {
//   .card-panel {
//     right: 0;
//   }
// }

// .card-panel-leave.card-panel-leave-active {
//   .card-panel {
//     right: -903px;
//     transition: right .5s ease-in-out;
//   }
// }

.card-panel-appear {
  .card-panel {
    right: -903px;
  }
}

.card-panel-appear.card-panel-appear-active {
  .card-panel {
    right: 0;
    transition: right .5s ease-in-out;
  }
}