.panel {
  border: 1px solid @panel-border-color;
  border-radius: 4px;

  & + .panel {
    margin-top: 15px;
  }
}

.panel-header {
  border-radius: 4px 4px 0 0;
  background-color: @panel-header-bg-color;
  height: @panel-header-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid @panel-border-color;
  padding: 0 15px;
  font-size: 14px;
}

.panel-body {
  padding: 15px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}