.radio {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  color: @text-color;

  &.inline {
    display: inline-flex;
    margin-right: 10px;
  }

  .fa {
    font-size: 16px;
    margin-right: 5px;
  }

  input {
    display: none;
  }

  input:checked + .fa {
    color: @brand-primary;
  }

  input:disabled + .fa {
    color: @base-diasbled-color;
    cursor: not-allowed;
  }
}
