@base-color: #333;
@text-color: #666;
@base-diasbled-color: #c7cbd6;
@border-color: #ddd;
@border-radius: 4px;

@brand-primary: #1fb5ad;
@disabled-bg-color: #eee;

// Alert
@alert-padding:               15px;
@alert-border-radius:         4px;

@alert-success-bg:            rgba(22, 166, 100, .1);
@alert-success-text:          #16a664;

@alert-danger-bg:             rgba(255, 65, 87, .1);
@alert-danger-text:           #ff4157;

@alert-warning-bg:            rgba(255, 195, 65, .1);
@alert-warning-text:          #ffc341;

// Table
@table-striped-bg: #fafafa;
@table-hover-bg: #f5f5f5;

// Panel
@panel-header-bg-color: #fafafa;
@panel-border-color: #eff2f7;
@panel-header-height: 40px;

// Modal
@modal-header-bg-color: #fafafa;
@modal-backdrop-bg: rgba(0, 0, 0, .6);
@modal-dialog-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
@modal-backdrop-zindex: 1000;